<!DOCTYPE html>
<html>
<head>
	<title>Kitchen Accesory | Accessorize your kitchen in style !</title>

	<meta name="robots" content="noodp, index, follow">

	<!-- Google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Averia+Sans+Libre|Open+Sans+Condensed:300|Oswald" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
	<script src="https://use.fontawesome.com/e5ed662be5.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script src="https://use.fontawesome.com/e5ed662be5.js"></script>

	<style type="text/css">
		li {
			font-family: 'Lato', sans-serif;
			text-align: justify;
			padding-bottom: 2%;;
			padding-top: 1%
		}

		h1 {
			font-family: 'Lato', sans-serif;
		}

		h2 {
			font-family: 'Lato', sans-serif;
			text-align: justify;
		}

		h3 {
			font-family: 'Lato', sans-serif;
			text-align: justify;
		}

		p {
			font-family: 'Lato', sans-serif;
			text-align: justify;
		}

		#index {
			padding-left: 5%;
			text-align: justify;
		}

		.heading{
			padding-top: 3%;
			padding-bottom: 2%;
		}

		.image_beneath_heading{
			padding-bottom: 3%;
		}

		.parag{
			font-size: 1.1em;
			text-align: justify;
		}
	</style>
	<script type="text/javascript">
		function hide() {
			var x = document.getElementById('index');
			x.style.display="none";
		};

		function show() {
			var x = document.getElementById('index');
			x.style.display="inline";
		};
	</script>

</head>

{% include "navbar.html" %}

<body>
	<div class="container">
		<div class="row">
			<h4>Index of content. &nbsp;&nbsp;<i class="fa fa-minus-square-o" onclick="hide()" aria-hidden="true"></i>&nbsp;&nbsp;<i class="fa fa-plus-square-o" onclick="show()" aria-hidden="true"></i></h4>
			<ol id="index">
				<li><a class="link_content" href="#one">Kitchen accessories – All you need , to enliven  your hum drum looking kitchen</a></br></li>
				<li><a class="link_content" href="#two">A list of accessories!</a></br></li>
				<li><a class="link_content" href="#three">Cost estimates –no need to spend a fortune for it !</a></br></li>
				<li><a class="link_content" href="#four">Brands –Hafele ,Ebco ,Hettich (About them )</a></br></li>
				<li><a class="link_content" href="#five">Ergonomics in kitchen and the kitchen triangle !</a></br></li>
				<li><a class="link_content" href="#six">About Irenovate !</a></br></li>
			</ol>
		</div>

		<a name="one"></a>

		<center>
			<h1 class="heading"> Kitchen accessories – All you need, to enliven  your hum drum looking kitchen</h1>
		</center>

		<center>
			<img class="image_beneath_heading" alt="" src="http://placehold.it/760x428/e67e22/fff">
		</center>

		<div class="row">
			<p class="parag">
				Even if you don't have the luxury of remodeling your kitchen, you can still up its efficiency and accessibility quotient by installing kitchen accessories . There are a lot of style decisions for Modular kitchen accessories nowadays. These styles comprise of a scope of modules like cupboards, divider and floor tiles, worktop, kitchen apparatuses, kitchen frill, fittings, and different gears. Any little change in a module can have an enormous effect in the presence of the kitchen. There is a great deal of kitchen accessories and items accessible in the business sector. Gone are the days when cooking felt like a chore. Equipped with latest technologies and modern kitchen accessories, today’s Indian kitchens facilitate easy meal preparation, organization and storage. Here are some of the sleek kitchen accessories -
			</p>

			<ol>
				<li><span style="font-size: 1.2em;text-align: center;">Roll-Out Trays Storage&nbsp;:&nbsp;</span>With the installation of roll out trays , you don’t have to hunt for your spoons stuck at the end of the drawer or kneel down to look for plates that are positioned at the end of the cabinet . Shelving does not have to be much deeper than 12 or 13 inches to accommodate everyday items. You  Rollout shelves are a great option for base cabinets. They come in a multifarious  sizes, styles and materials. If you have larger items to be stored, you can usually fit only two rollouts. Roll out trays makes the usage of drawers and cabinets much more easy . Moreover , these trays can be used to utilize the generally unutilized spaces like under the sink . You can utilize that space for keeping the washing powder ,floor cleaning liquids or may be the dusting cloth.
				</li>
				<li><span style="font-size: 1.2em;text-align: center;">Maxi Waste Bin</span>
					&nbsp;:&nbsp;A simple door garbage bin that swings out toward you when you open the door helps contain messes. A dustbin kept in the kitchen anywhere looks dingy. It's much better to install it within the cabinets . A maxi waste bin solves the problem .
				</li>
				<li>
					<span style="font-size: 1.2em;text-align: center;">Swiveling Basket</span>
					&nbsp;:&nbsp;This swiveling system works well in upper cabinets. It offers accessibility, flexibility and organization by bringing items closer.
				</li>	
				<li>
					<span style="font-size: 1.2em;text-align: center;">Pull outs </span>
					&nbsp;:&nbsp;Pull outs make the best use of narrow spaces in the kitchen. Usually installed near the dishwasher or towards either end of the kitchen, these modular kitchen accessories are designed with narrow shelves, making items easy to spot and access.They  are available in various  widths and ranges and can be used to keep diverse items like canned foods, bottles, jars, cleaning agents and more.
				</li>
				<li>
					<span style="font-size: 1.2em;text-align: center;">Cutlery trays </span>
					&nbsp;:&nbsp;With compartments to hold everything from spoons, forks, knives, rolling pins and more in an organized manner, cutlery trays are versatile, must-have modular kitchen accessories for every home. Modular kitchen accessory.
				</li>
				<li>
					<span style="font-size: 1.2em;text-align: justify;">Corner magic </span>
					&nbsp;:&nbsp;Most of the time, corner spaces in kitchens typically go unused. However, you can access the most unused  corners of your kitchen with LeMans corner which features kidney-shaped pull out shelves that rotate beyond the standard 90 degrees so that they fully retract into the back. Other solutions include Dee tray, Magic corner and more. They are suitable for  both upper and lower cabinets. There are alot of other accessories that comprises of the whole section of Indian modular kitchen accessories, for that contact us through our consultation page.
				</li>

				<li>
					<span style="font-size: 1.2em;text-align: justify;">Cost estimates </span>
					&nbsp;:&nbsp;You don’t need to spend a fortune to install kitchen accessories ! 
					The price of a accessories  will depend upon factors like  materials , quality ,brand .Consult an interior designer and let them know what you want and what you do not want in your kitchen. Just make sure that whatever accessory you buy is of good and reasonable quality . Obviously , if you spend on a good quality accessory , it will be worth it and will last long . Cheap quality accessories go out of order quickly . Kitchen accessory is not a thing that you can tinker with on a daily basis . Hence make sure , that whichever accessory you install is of good quality .Here are some cost estimates of each accessory mentioned above -
					(Provide the cost estimate)
				</li>
			</ol>
		</div>

		<a name="two"></a>

		<div class="row">
			<center>
				<h2>
					Kitchen accessory brands – Modern Kitchen Accessories
				</h2>
			</center>

			<p>
					Here are certain kitchen accessory brands that you can look upto 
			</p>

			<h3>
				Hafele kitchen accessories
			</h3>
			<p>
				Hafele brings to you an exciting range of kitchen accessories that offers effective utilization of space and is accompanied with world-class functionality. Quality and environmental management at Häfele is an important and integral component of their company philosophy. Quality standards are always being improved by means of continuous further development in their kitchen cabinet accessories section.
			</p>

			<h3>
				Hettich kitchen accessories
			</h3>
			<p>
				The Hettich brand is synonymous with quality, innovation, reliability and closeness to customers the world over. Technology for furniture – that's their passion. Their  furniture hardware solutions excite people across the globe. The secret: awareness of quality, joy of innovating, constant dialogue with customers and reliability. Their staff act in line with these values, something that doesn't go unnoticed. The result: thrilled furniture owners with best modular kitchen accessories installed
			</p>

			<h3>
				Ebco kitchen accessories
			</h3>
			<p>
				Ebco believes that its customers must never have to choose between quality and affordability; and that geographical boundaries must never hinder the availability of world class products. They  have a full range of office furniture hardware solutions including a variety of computer keyboard trays, CPU stations, flat screen monitor holders, cable organizers, tablet holders and other accessories. Our office furniture hardware solutions are designed to make office spaces comfortable, elegant and productive.

				In our quest to become India's one stop source of furniture hardware solutions,they  also partner with world renowned market leading brands. Over the past two years, we have significantly widened their  range of products with a special focus on the kitchen and accessories  segment. Their strengths in this segment include  broad product range from world-class European specialist brands, best-in-segment quality standards, cutting edge features and fair pricing.
			</p>

			<h3>
				 Kitchen ergonomics and kitchen triangle
			</h3>
			<p>
				An ergonomically designed kitchen should be well organized in a way to increase the efficiency and reduce the time required. The “kitchen work triangle” should be considered while designing the layout for a kitchen (Refer the article on the kitchen work triangle). It aims at making the three working areas of the kitchen easily accessible by keeping them at most efficient distance apart. Lighting too plays an important part in the kitchen and adequate lighting becomes a requirement while working in the kitchen. Important areas of lighting are ones under the kitchen cabinets where you prepare your food and when you are cooking. While using a knife, you’ll need sufficient light all around, because in lack of adequate lighting you might end up in a hazardous situation. When you are cooking you need light above the stove. Adequate lighting reduces the risk of accidents that might happen while working in the kitchen.
			</p>
			<p>
				The Kitchen Triangle is not an idea one might be familiar with. While undertaking the construction or renovation of a kitchen, a kitchen triangle is the best way to go. The concept of the kitchen triangle is not as complex as it seems. The kitchen triangle is a simple concept that aims at saving time and energy by efficiently designing the path between the three units of storage, cooking and cleaning in the kitchen. It connects the three main work areas of the kitchen – The refrigerator, cooking range/stove and the sink. The idea is to keep the main cooking areas confined to one part of the kitchen so that the other spaces can be utilized optimally. When these three elements are in proper proximity to one other, the kitchen will be easier and more efficient to use, cutting down on wasted steps, time and energy. A kitchen triangle can be set up in a limited budget to make the kitchen efficient in a minimal cost.
			</p>
			<h3>
				Concept of Kitchen Work Triangle
			</h3>
			<p>
				The concept for the kitchen work triangle was developed in the 1940s when kitchens were very small with large and heavy appliances. Even though the rule is quite old now the kitchen work triangle still is a simple and cost efficient way to make optimal use of the limited kitchen space.As a general guideline of the kitchen triangle, the distance between these areas should be no less than 4 feet and no larger than 9 feet. The sum of all three sides of the triangle should be between 13 feet and 26 feet. The concept of the kitchen triangle is dynamic and can be designed to suit one’s needs and purpose. The lengths of the triangle don’t have to be completely even. The shape of the triangle depends on what kind of kitchen shape one has. It needs to be taken care that the lines of the triangle aren’t blocked by trash cans, cabinets and other kitchen necessities in the wrong place which will make the cooking process a hassle.
			</p>
			<p>
				What needs to be taken care above all is that the kitchen should be suitable for one’s use and the concept of the kitchen triangle not being a concrete rule leaves scope for deviations in order to set the kitchen up according to one’s preferences and requirements depending upon the kitchen area, shape of the kitchen and the theme and style. The triangle formed in a U-shaped kitchen will be significantly different than the one formed in an L-shaped kitchen.
			</p>

			<a name="three"></a>

			<h2>
				 About Irenovate 
			</h2>
			<ul>
				<li>
					We put our brain and brawn into your home projects to help you create your own dream house with top sublime interiors .
				</li>
				<li>
					At iRenovate, we offer a wide variety of professional services to help you renovate your home or office space. We are renovation specialists and our role is to deliver your dream renovation, within your budget.
				</li>
				<li>
					We produce a well-constructed plan and design for our clients. We provide professional experts, hard-work repair and Building material experts to understand your needs. Our team consists of Architects, builders, designers, maintenance work specialists and Highly Skilled Labor. We also render a free maintenance contract for a limited time after the renovation.
				</li>
				<li>
					We give our clients high-quality finished products in lowest cost. Our contacts in the field enable us to get skilled workmanship for less price than any home owner would get for a single project which minimizes the cost of renovation at every step.
				</li>
				<li>
					We provide concept drawings and 3D digital designs for you to comprehend better. We use augmented reality to give you a preview of what your house will look like. Our 3D drawings will help you visualize the end look of the renovation before you even start.
				</li>
				<li>
					Poor management can make you feel renovation as a never ending project. At iRenovate, we design a perfectly well structured plan to complete your renovation project on time and within your budget.
				</li>
				<li>
					We at iRenovate help you deliver you the X-factor you need for your dream home. Our in-house team of designers is committed to provide you with the exact design you need.
				</li>
				<li>
					Our new section of the blog - DO IT THE RIGHT WAY series provides some very useful construction and renovation tips .
				</li>
				<li>
					Irenovate team is dedicated to provide excellence in maintenance with a 6 months’ F.O.C after service contract. Should you experience a problem or need assistance our team is ready to assist, no matter how small the issue is!
					For further queries , you can contact us and visit our website. for more info <a href="irenvate.in/contact-us">Clic here!</a>
				</li>
			</ul>
		</div>
	</div>

	{% include 'Footer/copyright.html' %}  
  {% include 'javascript.html' %}

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>