{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>iRenovate | Our Work</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <script src="https://use.fontawesome.com/e5ed662be5.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

  <script src="https://use.fontawesome.com/22ba1afe2c.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <style type="text/css">
    .ourWorkIndividualImage {
      border-radius: 3px;
      margin-top: 3%;
      margin-bottom: 1%;
      border:1px solid beige;
    }

    .imageTitle {
      font-size: 1.5em;
      padding-top: 10%;
    }

    .horizontalLine {
      border:1px solid #ebeef4; 
      width: 90%; 
      margin-left: 0px; 
    }

    .get-started {
      width: 110%;
      padding-bottom: -48px!important;
    }

    @media only screen and (max-width: 500px) {
      .imageTitle {
          text-align: center;
      }

      hr {
        display: none;
      }
    }
  </style>
</head>

{% include "navbar.html" %}

<body>
  <div>
    <a href="{% url 'renovation_consultation'%}">
      <img class="img-responsive" src="{% static 'img/gallery_banner.jpg' %}">
    </a>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p class="imageTitle">DAVID'S HOUSE</p>
        <a href="{% url 'david' %}">
          <img class="ourWorkIndividualImage img-responsive" src="{% static 'img/our_work/david.jpg' %}">
        </a>
        <hr class="horizontalLine">
      </div>
    
      <div class="col-sm-6">
        <p class="imageTitle">MALIBU TOWN PROJECT</p>
        <a href="{% url 'malibu' %}">
          <img class="ourWorkIndividualImage img-responsive" src="{% static 'img/our_work/malibu.jpg' %}">
        </a>
        <hr class="horizontalLine">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <p class="imageTitle">MR. YADAV'S DRAWING ROOM</p>
        <a href="{% url 'yadav' %}">
          <img class="ourWorkIndividualImage img-responsive" src="{% static 'img/our_work/yadav.jpg' %}">
        </a>
        <hr class="horizontalLine">
      </div>
      <div class="col-sm-6" >
        <p class="imageTitle">THE SURIS</p>
        <a href="{% url 'suris' %}">
          <img class="ourWorkIndividualImage img-responsive" src="{% static 'img/our_work/suris.jpg' %}">
        </a>
        <hr class="horizontalLine">
      </div>
    </div>
  
    <div class="row">
      <div class="col-sm-6">
        <p class="imageTitle">LEADING ECOMMERCE RETAIL COMPANY</p>
        <a href="{% url 'retail' %}">
          <img class="ourWorkIndividualImage img-responsive" src="{% static 'img/our_work/snapdeal.jpg' %}">
        </a>
        <hr class="horizontalLine">
      </div>
      <div class="col-sm-6" >
        <p class="imageTitle">SUPA FLEX PVT. LTD.</p>
        <a href="{% url 'supaflex' %}">
          <img class="ourWorkIndividualImage img-responsive" src="{% static 'img/our_work/supaflex.jpg' %}">
        </a>
        <hr class="horizontalLine">
      </div>
    </div>
  </div>

  {% include 'Footer/copyright.html' %}
  
  {% include 'javascript.html' %}

</body>
</html>