{% load crispy_forms_tags %}
{% load staticfiles %}

<head>
  <title> Supa Flex</title>
  <meta name="viewport" content="width = device-width, initial-scale = 1">
  <meta charset="utf-8"/>
  <meta name="description" content="Design your dream home with India's top online renovation destination."/>
  
  <script src="https://use.fontawesome.com/e5ed662be5.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.css' %}" />
  <script type="text/javascript" src="{% static 'js/lightbox-plus-jquery.js' %}"></script>
  
  <style type="text/css">
    @viewport {
      zoom:1.0;
      width: extend-to-zoom;
    }

    @-ms-viewport {
      width: extend-to-zoom;
      zoom: 1.0;
    }

    .row {
      margin-right: 0px !important;
    }

    .image {
      width: 90%;
      height: 60%;
      margin-top: 17%;
      border-style: solid;
      margin-left: 75px;
      margin-right: 30%;
      border-style: solid;
      border-radius: 9px;
      margin-right: 10%;
      margin-left: 10%;
    }

    #head-goes {
      font-family: 'Lora', serif;
      padding-bottom:5px;
      text-align: center;
    }

    #desc-goes {
      font-family: 'Lora', serif;
      padding-left: 15px;
      padding-top:0px;
      line-height: 1.5em;
    }

    .container {
      padding-bottom: 0px;
      padding-top: 0px;
    }

    #offtwo {
      margin-bottom: 0px;
    }

    #offone {
      margin-bottom: 0px;
    }

  </style>

</head>
  
{% include "navbar.html" %}

<body>
  <div class="container">
    <div class="row">
      <h2 id="head-goes">
        SUPA FLEX PVT. LTD.
      </h2>
      <h4 id = "desc-goes">
        Project Type: Corporate office
        </br>
        Year: 2017 
        </br>
      </h4>
    </div>
  </div>

  <div class="container">
    <div class="row">
      
      <div class="col-sm-4">
        <figure class="fig">
          <a href="{% static 'img/our_work/SupaFlex/supa4.jpg' %}" data-lightbox="image-1"><img alt="supa4" class="image" src="{% static 'img/our_work/SupaFlex/supa4.jpg' %}"></a>
        </figure>
      </div>

      <div class="col-sm-4">
        <figure class="fig">
          <a href="{% static 'img/our_work/SupaFlex/supa1.jpg' %}" data-lightbox="image-1"><img alt="supa1" class="image" src="{% static 'img/our_work/SupaFlex/supa1.jpg' %}"></a>
        </figure>
      </div>

      <div class="col-sm-4">
        <figure class="fig">
          <a href="{% static 'img/our_work/SupaFlex/supa2.jpg' %}" data-lightbox="image-1"><img alt="supa2" class="image" src="{% static 'img/our_work/SupaFlex/supa2.jpg' %}"></a>
        </figure>
      </div>
    </div>

    <div class="row">
   
      <div class="col-sm-4">
        <figure class="fig">
          <a href="{% static 'img/our_work/SupaFlex/supa3.jpg' %}" data-lightbox="image-1"><img alt="supa3" class="image" src="{% static 'img/our_work/SupaFlex/supa3.jpg' %}"></a>
        </figure>
      </div>
  
      <div class="col-sm-4">
        <figure class="fig">
          <a href="{% static 'img/our_work/SupaFlex/supa5.jpg' %}" data-lightbox="image-1"><img alt="supa5" class="image" src="{% static 'img/our_work/SupaFlex/supa5.jpg' %}"></a>
        </figure>
      </div>

      <div class="col-sm-4">
        <figure class="fig">
          <a href="{% static 'img/our_work/SupaFlex/supa6.jpg' %}" data-lightbox="image-1"><img alt="supa6" class="image" src="{% static 'img/our_work/SupaFlex/supa6.jpg' %}"></a>
        </figure> 
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <figure class="fig">
          <a href="{% static 'img/our_work/SupaFlex/supa7.jpg' %}" data-lightbox="image-1"><img alt="supa7" class="image" src="{% static 'img/our_work/SupaFlex/supa7.jpg' %}"></a>
        </figure>
      </div>

      <div class="col-sm-4">
        <figure class="fig">
          <a href="{% static 'img/our_work/SupaFlex/supa8.jpg' %}" data-lightbox="image-1"><img alt="supa8" class="image" src="{% static 'img/our_work/SupaFlex/supa8.jpg' %}"></a>
        </figure>
      </div>
      <div class="col-sm-4">
        <figure class="fig">
          <a href="{% static 'img/our_work/SupaFlex/supa9.jpg' %}" data-lightbox="image-1"><img alt="supa9" class="image" src="{% static 'img/our_work/SupaFlex/supa9.jpg' %}"></a>
        </figure>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <figure class="fig">
          <a href="{% static 'img/our_work/SupaFlex/supa10.jpg' %}" data-lightbox="image-1"><img alt="supa10" class="image" src="{% static 'img/our_work/SupaFlex/supa10.jpg' %}"></a>
        </figure>
      </div>
  
      <div class="col-sm-4">
        <figure class="fig">
          <a href="{% static 'img/our_work/SupaFlex/supa11.jpg' %}" data-lightbox="image-1"><img alt="supa11" class="image" src="{% static 'img/our_work/SupaFlex/supa11.jpg' %}"></a>
        </figure>
      </div>

      <!-- <div class="col-sm-4">
        <figure class="fig">
          <a href="{% static 'img/our_work/SupaFlex/supa15.jpg' %}" data-lightbox="image-1"><img class="image" src="{% static 'img/our_work/SupaFlex/supa15.jpg' %}"></a>
        </figure> 
      </div> -->
    </div>
    <!-- <div class="row">
      <div class="col-sm-4">
        <figure class="fig">
          <a href="{% static 'img/our_work/SupaFlex/supa22.jpg' %}" data-lightbox="image-1"><img class="image" src="{% static 'img/our_work/SupaFlex/supa22.jpg' %}"></a>
        </figure>
      </div>
  
      <div class="col-sm-4">
        <figure class="fig">
          <a href="{% static 'img/our_work/SupaFlex/supa20.jpg' %}" data-lightbox="image-1"><img class="image" src="{% static 'img/our_work/SupaFlex/supa20.jpg' %}"></a>
        </figure>
      </div>

      <div class="col-sm-4">
        <figure class="fig">
          <a href="{% static 'img/our_work/SupaFlex/supa19.jpg' %}" data-lightbox="image-1"><img class="image" src="{% static 'img/our_work/SupaFlex/supa19.jpg' %}"></a>
        </figure>
      </div>
    </div> -->
  </div>

  {% include 'Footer/copyright.html' %}  
  {% include 'javascript.html' %}<script type="c"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  
</body>