{% load crispy_forms_tags %}
{% load staticfiles %}

<head>
  <title>Suris</title>
  <meta name="viewport" content="width = device-width, initial-scale = 1">
  <meta charset="utf-8"/>
  <meta name="description" content="Design your dream home with India's top online renovation destination."/>
    
  <script src="https://use.fontawesome.com/e5ed662be5.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.css' %}" />
  <script type="text/javascript" src="{% static 'js/lightbox-plus-jquery.js' %}"></script>
  
  <style type="text/css">
    @viewport {
      zoom:1.0;
      width: extend-to-zoom;
    }

    @-ms-viewport {
      width: extend-to-zoom;
      zoom: 1.0;
    }

    .image {
      width: 90%;
      height: 60%;
      margin-top: 17%;
      border-style: solid;
      margin-left: 75px;
      margin-right: 30%;
      border-style: solid;
      border-radius: 9px;
      margin-right: 10%;
      margin-left: 10%;
    }
 
    #head-goes {
      font-family: 'Lora', serif;
      padding-bottom:5px;
      text-align: center;
    }

    #desc-goes {
      font-family: 'Lora', serif;
      padding-left: 15px;
      padding-top:0px;
      line-height: 1.5em;
    }

    .container {
      padding-bottom: 0px;
      padding-top: 0px;
    }

    #offtwo {
      margin-bottom: 0px;
    }

    #offone {
      margin-bottom: 0px;
    }

  </style>

</head>
  
{% include "navbar.html" %}

<body>
  <div class="container">
    <div class="row">
      <h2 id="head-goes">THE SURIS</h2>
      <h4 id = desc-goes>
        Project Type: Residence 
        </br>
        Year: 2016 
        </br>
        Customer Testimonial:
        After I decided to renovate my house last year and got fed up of dealing and coordinating with different contractors, I stumbled upon IRenovate. They provided me with a team of professionals who understood modern designs and helped conceptualise my ideas into my dream home. Love what you guys do and hope to use your services again in the future.
      </h4>
    </div>
  </div>

  <div class="container">
    <div class="row">
      
      <div class="col-sm-4">
        <figure class="fig">
          <a href="{% static 'img/our_work/Suris/suris1.jpeg' %}" data-lightbox="image-1"><img alt="suris1" class="image" src="{% static 'img/our_work/Suris/suris1.jpeg' %}"></a>
        </figure>
      </div>

      <div class="col-sm-4">
        <figure class="fig">
          <a href="{% static 'img/our_work/Suris/suris2.jpeg' %}" data-lightbox="image-1"><img alt="suris2" class="image" src="{% static 'img/our_work/Suris/suris2.jpeg' %}"></a>
        </figure>
      </div>

      <div class="col-sm-4">
        <figure class="fig">
          <a href="{% static 'img/our_work/Suris/suris3.jpeg' %}" data-lightbox="image-1"><img alt="suris3" class="image" src="{% static 'img/our_work/Suris/suris3.jpeg' %}"></a>
        </figure>
      </div>
    
    </div>

    <div class="row">
      
      <div class="col-sm-4">
        <figure class="fig">
          <a href="{% static 'img/our_work/Suris/suris4.jpeg' %}" data-lightbox="image-1"><img alt="suris4" class="image" src="{% static 'img/our_work/Suris/suris4.jpeg' %}"></a>
        </figure>
      </div>

      <div class="col-sm-4">
        <figure class="fig">
          <a href="{% static 'img/our_work/Suris/suris4.jpeg' %}" data-lightbox="image-1"><img alt="suris4" class="image" src="{% static 'img/our_work/Suris/suris4.jpeg' %}"></a>
        </figure>
      </div>

      <div class="col-sm-4">
        <figure class="fig">
          <a href="{% static 'img/our_work/Suris/suris5.jpeg' %}" data-lightbox="image-1"><img alt="suris5" class="image" src="{% static 'img/our_work/Suris/suris5.jpeg' %}"></a>
        </figure>
      </div>
    
    </div>

    <div class="row">
      
      <div class="col-sm-4">
        <figure class="fig">
          <a href="{% static 'img/our_work/Suris/suris13.jpeg' %}" data-lightbox="image-1"><img alt="suris13" class="image" src="{% static 'img/our_work/Suris/suris13.jpeg' %}"></a>
        </figure>
      </div>

      <div class="col-sm-4">
        <figure class="fig">
          <a href="{% static 'img/our_work/Suris/suris7.jpeg' %}" data-lightbox="image-1"><img alt="suris7" class="image" src="{% static 'img/our_work/Suris/suris7.jpeg' %}"></a>
        </figure>
      </div>

      <div class="col-sm-4">
        <figure class="fig">
          <a href="{% static 'img/our_work/Suris/suris8.jpeg' %}" data-lightbox="image-1"><img alt="suris8" class="image" src="{% static 'img/our_work/Suris/suris8.jpeg' %}"></a>
        </figure>
      </div>
    
    </div>

    <div class="row">
      
      <div class="col-sm-4">
        <figure class="fig">
          <a href="{% static 'img/our_work/Suris/suris9.jpeg' %}" data-lightbox="image-1"><img alt="suris9" class="image" src="{% static 'img/our_work/Suris/suris9.jpeg' %}"></a>
        </figure>
      </div>

      <div class="col-sm-4">
        <figure class="fig">
          <a href="{% static 'img/our_work/Suris/suris10.jpeg' %}" data-lightbox="image-1"><img alt="suris10" class="image" src="{% static 'img/our_work/Suris/suris10.jpeg' %}"></a>
        </figure>
      </div>

      <div class="col-sm-4">
        <figure class="fig">
          <a href="{% static 'img/our_work/Suris/suris11.jpeg' %}" data-lightbox="image-1"><img alt="suris11" class="image" src="{% static 'img/our_work/Suris/suris11.jpeg' %}"></a>
        </figure>
      </div>
    
    </div>

  </div>

  {% include 'Footer/copyright.html' %}
  {% include 'javascript.html' %}

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  
</body>