{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>iRenovate | Bedroom</title>

	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<style type="text/css">
		.paragraph {
			font-family: 'Raleway', sans-serif;
			font-size: 2.2em;
		}

		.container {
			padding-bottom: 20px;
		}
	</style>
</head>

{% include "navbar.html" %}

<body>
	<div class="container">
		<p class="paragraph">
			Looks suggested for You!
		</p>
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom1.jpg' %}" class="img-responsive" alt="Bedroom1">
				<div>
				    <hr style="color: black;width: 99%;border: .3px solid #eaecef; ">
				</div>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom2.jpg' %}" class="img-responsive" alt="Bedroom2">
				<div>
				    <hr style="color: black;width: 99%;border: .3px solid #eaecef; ">
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom3.jpg' %}" class="img-responsive" alt="Bedroom3">
				<div>
				    <hr style="color: black;width: 99%;border: .3px solid #eaecef; ">
				</div>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom4.jpg' %}" class="img-responsive" alt="Bedroom4" >
				<div>
				    <hr style="color: black;width: 99%;border: .3px solid #eaecef; ">
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom5.jpg' %}" class="img-responsive" alt="Bedroom5">
				<div>
				    <hr style="color: black;width: 99%;border: .3px solid #eaecef; ">
				</div>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom6.jpg' %}" class="img-responsive" alt="Bedroom6">
				<div>
				    <hr style="color: black;width: 99%;border: .3px solid #eaecef; ">
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom7.jpg' %}" class="img-responsive" alt="Bedroom7">
				<div>
				    <hr style="color: black;width: 99%;border: .3px solid #eaecef; ">
				</div>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom8.jpg' %}" class="img-responsive" alt="Bedroom8">
				<div>
				    <hr style="color: black;width: 99%;border: .3px solid #eaecef; ">
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom9.jpg' %}" class="img-responsive" alt="Bedroom9">
				<div>
				    <hr style="color: black;width: 99%;border: .3px solid #eaecef; ">
				</div>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom10.jpg' %}" class="img-responsive" alt="Bedroom10">
				<div>
				    <hr style="color: black;width: 99%;border: .3px solid #eaecef; ">
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom11.jpg' %}" class="img-responsive" alt="Bedroom11">
				<div>
				    <hr style="color: black;width: 99%;border: .3px solid #eaecef; ">
				</div>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom12.jpg' %}" class="img-responsive" alt="Bedroom12">
				<div>
				    <hr style="color: black;width: 99%;border: .3px solid #eaecef; ">
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom13.jpg' %}" class="img-responsive" alt="Bedroom13">
				<div>
				    <hr style="color: black;width: 99%;border: .3px solid #eaecef; ">
				</div>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom14.jpg' %}" class="img-responsive" alt="Bedroom14">
				<div>
				    <hr style="color: black;width: 99%;border: .3px solid #eaecef; ">
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom15.jpg' %}" class="img-responsive" alt="Bedroom15">
				<div>
				    <hr style="color: black;width: 99%;border: .3px solid #eaecef; ">
				</div>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom16.jpg' %}" class="img-responsive" alt="Bedroom16">
				<div>
				    <hr style="color: black;width: 99%;border: .3px solid #eaecef; ">
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom17.jpg' %}" class="img-responsive" alt="Bedroom17">
				<div>
				    <hr style="color: black;width: 99%;border: .3px solid #eaecef; ">
				</div>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom18.jpg' %}" class="img-responsive" alt="Bedroom18">
				<div>
				    <hr style="color: black;width: 99%;border: .3px solid #eaecef; ">
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom19.jpg' %}" class="img-responsive" alt="19">
				<div>
				    <hr style="color: black;width: 99%;border: .3px solid #eaecef; ">
				</div>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom20.jpg' %}" class="img-responsive" alt="20">
				<div>
				    <hr style="color: black;width: 99%;border: .3px solid #eaecef; ">
				</div>
			</div>
		</div>
	</div>

	{% include 'Footer/copyright.html' %}
	{% include 'javascript.html' %}

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>