{% load crispy_forms_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <title>iRenovate | Predefined Looks For Your Home</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <script src="https://use.fontawesome.com/e5ed662be5.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script
    src="https://code.jquery.com/jquery-3.2.0.js"
    integrity="sha256-wPFJNIFlVY49B+CuAIrDr932XSb6Jk3J1M22M3E2ylQ="
    crossorigin="anonymous">
  </script>
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous">
  </script>
  <script
    src="https://code.jquery.com/color/jquery.color-2.1.2.js"
    integrity="sha256-1Cn7TdfHiMcEbTuku97ZRSGt2b3SvZftEIn68UMgHC8="
    crossorigin="anonymous">
  </script>

  <link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.css' %}" >
  <script type="text/javascript" src="{% static 'js/lightbox-plus-jquery.js' %}"></script>
  
  <style type="text/css">
    /*banner style*/
    #kitchen-detail-banner {
      position: relative;
      width: 100%;
      background: linear-gradient (
        rgba(61, 46, 29, 0), 
        rgba(0, 0, 0, 0)
      );
      padding-top: 45px;
      background-attachment: relative;
      background-position: center bottom;
      min-height: 260px;
      width: 100%;
      background-size: cover;
      color: white;
      margin-bottom: 4%;
    }

    /*image style*/
    .paragraph {
      font-family: 'Raleway', sans-serif;
      font-size: 2.2em;
      padding: 3% 0% 3% 1.5%;
    }

    .containerAlternate {
      padding-bottom: 20px;
    }

    .imnm {
      font-family: 'Raleway', sans-serif;
      font-size: 1.2em;
      text-align: left;
      padding-top: 2%;
      padding-left: 1%;
      margin-bottom: 0px;
      padding-bottom: 0px;
    }

    .contact {
      float: none;
      text-align: center;
      margin-top: 2%;
    }

    .btn{
      background-color: #f74861; 
    }

    /*brand style*/
    .brand-list {
      list-style: none;
      width: 100%;
      margin: 0px;
      padding: 0px;
      float: left;
      width: 100%;
      margin-left: 3.5%;
    }

    .list-brand {
      float: left;
      width: 14.6%;
      border: 2px solid #ddd;
      padding: 6px;
      background-color: #ddd;
      margin: 0%;
      margin-left: 3%;
    }

    .brand-image {
      filter: grayscale(0%);
      max-width: 100%;
    }

    .brand-tag {
      margin-top: 2%;
      font-size: 1.9em;
    }

    .brand-subtag {
      padding-bottom: 3%;
      font-size: 2.4em;
    }
    
    @media(max-width:767px) {
      .brand-tag {
        padding-top: 2%;
        font-size: 1.3em;
      }

      .brand-subtag {
        padding-bottom: 3%;
        font-size: 1.9em;
      }

      .list-brand {
        float: left;
        width: 33%;
        border: 2px solid #ddd;
        padding: 6px;
        background-color: #ddd;
        margin: 0%;
        margin-left: 8%;
        margin-bottom: 4%;
      }
  </style>
</head>

{% include "navbar.html" %}

<body>
  <!-- Banner -->
  <div id="kitchen-detail-banner" ng-if="roomName == 'Kitchen'" class="ng-scope" style="background-image: url({% static 'img/kitchen/Banner.jpg' %})">    
  </div>

  <!-- KITCHEN IMAGES -->
  <div class="container containerAlternate">
    <div class="row">
      <div class="col-sm-6">
        <img src="{% static 'img/kitchen/Kitchen/1.jpg' %}" class="img-responsive" alt="Parallel Kitchen">
        <p class="imnm">
          Size 10x8ft <span style="padding-left:20%">Parallel Kitchen</span><span style="padding-left:20%">From &#x20B9;130,000</span>
        </p>
        <div>
            <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
        </div>
      </div>
      
      <div class="col-sm-6">
        <img src="{% static 'img/kitchen/Kitchen/2.jpg' %}" class="img-responsive" alt="Parallel Kitchen">
        <p class="imnm">
          Size 10x8ft <span style="padding-left:20%">Parallel Kitchen</span><span style="padding-left:20%">From &#x20B9;130,000</span>
        </p>
        <div>
            <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
        </div>
      </div>
    </div>
  </div>

  <div class="container containerAlternate">
    <div class="row">
      <div class="col-sm-6">
        <img src="{% static 'img/kitchen/Kitchen/15.jpg' %}" class="img-responsive" alt="U-Shape">
        <p class="imnm">
          Size 12x8ft <span style="padding-left:25%">U-Shape</span><span style="padding-left:25%">From &#x20B9;140,000</span>
        </p>
        <div>
            <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
        </div>
      </div>
      
      <div class="col-sm-6">
        <img src="{% static 'img/kitchen/Kitchen/16.jpg' %}" class="img-responsive" alt="U-Shape">
        <p class="imnm">
          Size 14x7ft <span style="padding-left:25%">U-Shape</span><span style="padding-left:25%">From &#x20B9;160,000</span>
        </p>
        <div>
            <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
        </div>
      </div>
    </div>
  </div>

  <div class="container containerAlternate">
    <div class="row">
      <div class="col-sm-6">
        <img src="{% static 'img/kitchen/Kitchen/3.jpg' %}" class="img-responsive" alt="L-Shape">
        <p class="imnm">
          Size 8x9ft <span style="padding-left:26%">L-Shape</span><span style="padding-left:26%">From &#x20B9;128,000</span>
        </p>
        <div>
            <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
        </div>
      </div>
      
      <div class="col-sm-6">
        <img src="{% static 'img/kitchen/Kitchen/4.jpg' %}" class="img-responsive" alt="L-Shape">
        <p class="imnm">
          Size 8x9ft <span style="padding-left:26%">L-Shape</span><span style="padding-left:26%">From &#x20B9;128,000</span>
        </p>
        <div>
            <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
        </div>
      </div>
    </div>
  </div>

  <div class="container containerAlternate">
    <div class="row">
      <div class="col-sm-6">
        <img src="{% static 'img/kitchen/Kitchen/5.jpg' %}" class="img-responsive" alt="Parallel Kitchen">
        <p class="imnm">
          Size 12x8ft <span style="padding-left:20%">Parallel Kitchen</span><span style="padding-left:20%">From &#x20B9;155,000</span>
        </p>
        <div>
            <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
        </div>
      </div>
      
      <div class="col-sm-6">
        <img src="{% static 'img/kitchen/Kitchen/6.jpg' %}" class="img-responsive" alt="L-Shape">
        <p class="imnm">
          Size 10x10ft <span style="padding-left:25%">L-Shape</span><span style="padding-left:25%">From &#x20B9;145,000</span>
        </p>
        <div>
            <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
        </div>
      </div>
    </div>
  </div>

  <div class="container containerAlternate">
    <div class="row">
      <div class="col-sm-6">
        <img src="{% static 'img/kitchen/Kitchen/7.jpg' %}" class="img-responsive" alt="Island Kitchen">
        <p class="imnm">
          Size 10x14ft <span style="padding-left:21%">Island Kitchen</span><span style="padding-left:21%">From &#x20B9;180,000</span>
        </p>
        <div>
            <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
        </div>
      </div>
      
      <div class="col-sm-6">
        <img src="{% static 'img/kitchen/Kitchen/8.jpg' %}" class="img-responsive" alt="L-Shape">
        <p class="imnm">
          Size 7x9ft <span style="padding-left:26%">L-Shape</span><span style="padding-left:26%">From &#x20B9;120,000</span>
        </p>
        <div>
            <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
        </div>
      </div>
    </div>
  </div>

  <div class="container containerAlternate">
    <div class="row">
      <div class="col-sm-6">
        <img src="{% static 'img/kitchen/Kitchen/9.jpg' %}" class="img-responsive" alt="Linear Kitchen">
        <p class="imnm">
          Size 12ft <span style="padding-left:23%">Linear Kitchen</span><span style="padding-left:23%">From &#x20B9;110,000</span>
        </p>
        <div>
            <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
        </div>
      </div>
      
      <div class="col-sm-6">
        <img src="{% static 'img/kitchen/Kitchen/10.jpg' %}" class="img-responsive" alt="Linear Kitchen">
        <p class="imnm">
          Size 12ft <span style="padding-left:23%">Linear Kitchen</span><span style="padding-left:23%">From &#x20B9;110,000</span>
        </p>
        <div>
            <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
        </div>
      </div>
    </div>
  </div>

  <div class="container containerAlternate">
    <div class="row">
      <div class="col-sm-6">
        <img src="{% static 'img/kitchen/Kitchen/11.jpg' %}" class="img-responsive" alt="Island Kitchen">
        <p class="imnm">
          Size 12x7ft <span style="padding-left:21%">Island Kitchen</span><span style="padding-left:21%">From &#x20B9;160,000</span>
        </p>
        <div>
            <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
        </div>
      </div>
      
      <div class="col-sm-6">
        <img src="{% static 'img/kitchen/Kitchen/12.jpg' %}" class="img-responsive" alt="Island Kitchen">
        <p class="imnm">
          Size 12x7ft <span style="padding-left:21%">Island Kitchen</span><span style="padding-left:21%">From &#x20B9;160,000</span>
        </p>
        <div>
            <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
        </div>
      </div>
    </div>
  </div>

  <div class="container containerAlternate">
    <div class="row">
      <div class="col-sm-6">
        <img src="{% static 'img/kitchen/Kitchen/13.jpg' %}" class="img-responsive" alt="L-Shape">
        <p class="imnm">
          Size 9x10ft <span style="padding-left:25%">L-Shape</span><span style="padding-left:25%">From &#x20B9;144,000</span>
        </p>
        <div>
            <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
        </div>
      </div>
      
      <div class="col-sm-6">
        <img src="{% static 'img/kitchen/Kitchen/14.jpg' %}" class="img-responsive" alt="U-Shape">
        <p class="imnm">
          Size 12x8ft <span style="padding-left:25%">U-Shape</span><span style="padding-left:25%">From &#x20B9;140,000</span>
        </p>
        <div>
            <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
        </div>
      </div>
    </div>
  </div>

  <div class="container containerAlternate">
    <div class="row">
      <div class="col-sm-6 col-xs-12 col-md-12 col-lg-6" id="contactusnow">
        <p style="font-size: 2.1em;font-family:'Averia Sans Libre', cursive; " class='lead text-align-center'>Talk to our expert!</p>
        <form method='POST' action="">{% csrf_token %}
          {{ form|crispy }}
          <input class='btn btn-block btn-danger' type='submit' value='Submit'/>
        </form>
      </div>
    
      <div class="col-sm-6" style="padding-top: 2%">
        <img src="{% static 'img/kitchen/Kitchen/17.jpg' %}" class="img-responsive" alt="L-Shape">
        <p class="imnm">
          Size 12x8ft <span style="padding-left:25%">L-Shape</span><span style="padding-left:25%">From &#x20B9;140,000</span>
        </p>
        
      </div>
    </div>
  </div>

  <!-- Brands -->
  <div class="container">
    <hr style="color: black; width: 98%; border: .3px solid #eaecef; margin-top: -8%">
  </div>

  <div class="container">
    <div class="mod_kitchen03">
      <center>
        <h3 class="brand-tag">Our Brands</h3>
        <h2 class="brand-subtag">At iRenovate, quality is our first preference</h2>
      </center>
      <div class="kitchen_brand">
        <ul class="brand-list">
          <li class="list-brand"><img class="brand-image" alt="BOSCH" src="{% static 'img/kitchen/our_brands/bosch.jpg' %}" /></li>
          <li class="list-brand"><img class="brand-image" alt="FABER" src="{% static 'img/kitchen/our_brands/faber.jpg' %}" /></li>
          <li class="list-brand"><img class="brand-image" alt="HAFELE" src="{% static 'img/kitchen/our_brands/hafele.jpg' %}" /></li>
          <li class="list-brand"><img class="brand-image" alt="HETTICH" src="{% static 'img/kitchen/our_brands/hettich.jpg' %}" /></li>
          <li class="list-brand"><img class="brand-image" alt="MERINO" src="{% static 'img/kitchen/our_brands/merino.jpg' %}" /></li>
        </ul>
      </div>
    </div>
  </div>


  <!-- Hire a designer -->
  <div class="contact">
    <a href="{% url 'renovation_consultation' %}"><button class="btn btn-lg" style = "color: white; text-decoration: none !important;" type="button">Hire A Designer</button></a>
  </div>
  </div>

  {% include 'Footer/copyright.html' %}
  {% include 'javascript.html' %}

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>