{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>iRenovate | Themes</title>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<script src="https://use.fontawesome.com/e5ed662be5.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script
  	src="https://code.jquery.com/jquery-3.2.0.js"
  	integrity="sha256-wPFJNIFlVY49B+CuAIrDr932XSb6Jk3J1M22M3E2ylQ="
  	crossorigin="anonymous">
  </script>
	<script
	  src="https://code.jquery.com/jquery-3.1.1.min.js"
	  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	  crossorigin="anonymous">
	</script>
	<script
	  src="https://code.jquery.com/color/jquery.color-2.1.2.js"
	  integrity="sha256-1Cn7TdfHiMcEbTuku97ZRSGt2b3SvZftEIn68UMgHC8="
	  crossorigin="anonymous">
	</script>

	<link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.css' %}" >
  <script type="text/javascript" src="{% static 'js/lightbox-plus-jquery.js' %}"> 
  </script>
	
	<style type="text/css">
		.paragraph {
			font-family: 'Raleway', sans-serif;
			font-size: 2.2em;
			padding: 3% 0% 3% 0%;
		}

		.ain {
			padding-bottom: 20px;
		}

		.imnm {
			font-family: 'Raleway', sans-serif;
			font-size: 1.2em;
			text-align: left;
			padding-top: 2%;
			padding-left: 1%;
			margin-bottom: 0px;
			padding-bottom: 0px;
		}

		.contact {
			float: none;
			text-align: center;
			margin-top: 2%;
		}

		.btn{
			background-color: #f74861; 
		}
	</style>
</head>

{% include "navbar.html" %}

<body>
	<div class="container ain">
		<p class="paragraph">
			Looks suggested for You!
		</p>
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom21.jpg' %}" class="img-responsive" alt="Perfect Beige">
				<p class="imnm">
					Perfect Beige
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom2.jpg' %}" class="img-responsive" alt="Grey Slay">
				<p class="imnm">
					Grey Slay
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
		</div>
	</div>

	<div class="container ain">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom3.jpg' %}" class="img-responsive" alt="Tantalizing Tint">
				<p class="imnm">
					Tantalizing Tint
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom4.jpg' %}" class="img-responsive" alt="Neutral Modernity">
				<p class="imnm">
					Neutral Modernity
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
		</div>
	</div>

	<div class="container ain">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom5.jpg' %}" class="img-responsive" alt="Parlaying Perfection">
				<p class="imnm">
					Parlaying Perfection
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom6.jpg' %}" class="img-responsive" alt="Wood It!">
				<p class="imnm">
					Wood It!
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
		</div>
	</div>

	<div class="container ain">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom7.jpg' %}" class="img-responsive" alt="Born With A Silver Spoon">
				<p class="imnm">
					Born With A Silver Spoon
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom8.jpg' %}" class="img-responsive" alt="Relax Chillax">
				<p class="imnm">
					Relax Chillax
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
		</div>
	</div>

	<div class="container ain">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom9.jpg' %}" class="img-responsive" alt="Extravagantly Eminent">
				<p class="imnm">
					Extravagantly Eminent
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom10.jpg' %}" class="img-responsive" alt="Majestic Beauty">
				<p class="imnm">
					Majestic Beauty
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
		</div>
	</div>

	<div class="container ain">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom11.jpg' %}" class="img-responsive" alt="Scintillating Symmetry">
				<p class="imnm">
					Scintillating Symmetry
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom12.jpg' %}" class="img-responsive" alt="Ultimate Uniqueness">
				<p class="imnm">
					Ultimate Uniqueness
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
		</div>
	</div>

	<div class="container ain">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom13.jpg' %}" class="img-responsive" alt="Princess Drool">
				<p class="imnm">
					Princess Drool
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom1.jpg' %}" class="img-responsive" alt="The Crown">
				<p class="imnm">
					The Crown
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
		</div>
	</div>

	<div class="container ain">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom15.jpg' %}" class="img-responsive" alt="Serene Green">
				<p class="imnm">
					Serene Green
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom16.jpg' %}" class="img-responsive" alt="Winsome White">
				<p class="imnm">
					Winsome White
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
		</div>
	</div>

	<div class="container ain">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom17.jpg' %}" class="img-responsive" alt="Bolt From Blue">
				<p class="imnm">
					Bolt From Blue
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom18.jpg' %}" class="img-responsive" alt="The Red Velvet">
				<p class="imnm">
					The Red Velvet
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
		</div>
	</div>

	<div class="container ain">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom19.jpg' %}" class="img-responsive" alt="Perfect Pearl">
				<p class="imnm">
					Perfect Pearl
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom20.jpg' %}" class="img-responsive" alt="Black Beauty">
				<p class="imnm">
					Black Beauty
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
		</div>
	</div>

	<div class="container ain">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom14.jpg' %}" class="img-responsive" alt="Strip Sophistication">
				<p class="imnm">
					Strip Sophistication
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Bedroom/Bedroom22.jpg' %}" class="img-responsive" alt="Rustic Appeal">
				<p class="imnm">
					Rustic Appeal
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
		</div>
	</div>
	
	<div class="contact">
		<a href="{% url 'renovation_consultation' %}"><button class="btn btn-lg" style = "color: white; text-decoration: none !important;" type="button">Contact Our Expert</button></a>
	</div>

	{% include 'Footer/copyright.html' %}
	{% include 'javascript.html' %}

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>