{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>iRenovate | Predefined Looks For Your Home</title>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<script src="https://use.fontawesome.com/e5ed662be5.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script
  	src="https://code.jquery.com/jquery-3.2.0.js"
  	integrity="sha256-wPFJNIFlVY49B+CuAIrDr932XSb6Jk3J1M22M3E2ylQ="
  	crossorigin="anonymous">
  </script>
	<script
	  src="https://code.jquery.com/jquery-3.1.1.min.js"
	  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	  crossorigin="anonymous">
	</script>
	<script
	  src="https://code.jquery.com/color/jquery.color-2.1.2.js"
	  integrity="sha256-1Cn7TdfHiMcEbTuku97ZRSGt2b3SvZftEIn68UMgHC8="
	  crossorigin="anonymous">
	</script>

	<link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.css' %}" >
	<script type="text/javascript" src="{% static 'js/lightbox-plus-jquery.js' %}"></script>
	
	<style type="text/css">
		.paragraph {
			font-family: 'Raleway', sans-serif;
			font-size: 2.2em;
			padding: 3% 0% 3% 1.5%;
		}

		.containerAlternate {
			padding-bottom: 20px;
		}

		.imnm {
			font-family: 'Raleway', sans-serif;
			font-size: 1.2em;
			text-align: left;
			padding-top: 2%;
			padding-left: 1%;
			margin-bottom: 0px;
			padding-bottom: 0px;
		}

		.contact {
			float: none;
			text-align: center;
			margin-top: 2%;
		}

		.btn{
			background-color: #f74861; 
		}
	</style>
</head>

{% include "navbar.html" %}

<body>
	<div class="container containerAlternate">
		<p class="paragraph">
			Looks suggested for You!
		</p>

		<div class="container containerAlternate">
			<div class="row">
				<div class="col-sm-6">
					<img src="{% static 'img/Themes/Bedroom/wood_stripes.jpg' %}" class="img-responsive" alt="Wood Stripes">
					<p class="imnm">
						Wood Stripes <span style="padding-left:21%">Size 15x12ft</span><span style="padding-left:21%">From &#x20B9;225,000</span>
					</p>
					<div>
					    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
					</div>
				</div>

				<div class="col-sm-6">
					<img src="{% static 'img/Themes/Living_room/halcyon_woonvertrek.jpg' %}" class="img-responsive" alt="Halcyon Woonvertrek">
					<p class="imnm">
						Halcyon Woonvertrek <span style="padding-left:15%">Size 12x16ft</span><span style="padding-left:15%">From &#x20B9;280,000</span>
					</p>
					<div>
					    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
					</div>
				</div>
			</div>
		</div>

		<div class="container containerAlternate">
			<div class="row">
				<div class="col-sm-6">
					<img src="{% static 'img/Themes/Bedroom/barca_blue.jpg' %}" class="img-responsive" alt="Barca Blue">
					<p class="imnm">
						Barca Blue <span style="padding-left:23%">Size 10x12ft</span><span style="padding-left:23%">From &#x20B9;190,000</span>
					</p>
					<div>
					    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
					</div>
				</div>

				<div class="col-sm-6">
					<img src="{% static 'img/Themes/Living_room/alluring_blue.jpg' %}" class="img-responsive" alt="Alluring Blue">
					<p class="imnm">
						Alluring Blue <span style="padding-left:19%">Size 20x16ft</span><span style="padding-left:19%">From &#x20B9;395,000</span>
					</p>
					<div>
					    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
					</div>
				</div>
			</div>
		</div>

		<div class="container containerAlternate">
			<div class="row">
				<div class="col-sm-6">
					<img src="{% static 'img/Themes/Bedroom/anaemic_touch.jpg' %}" class="img-responsive" alt="Anaemic Touch">
					<p class="imnm">
						Anaemic Touch <span style="padding-left:20%">Size 15x13ft</span><span style="padding-left:20%">From &#x20B9;220,000</span>
					</p>
					<div>
					    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
					</div>
				</div>
				
				<div class="col-sm-6">
					<img src="{% static 'img/Themes/Living_room/entice_sapphire.jpg' %}" class="img-responsive" alt="Entice Sapphire">
					<p class="imnm">
						Entice Sapphire <span style="padding-left:19%">Size 20x16ft</span><span style="padding-left:19%">From &#x20B9;395,000</span>
					</p>
					<div>
					    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
					</div>
				</div>
			</div>
		</div>

		<div class="container containerAlternate">
			<div class="row">
				<div class="col-sm-6">
					<img src="{% static 'img/Themes/Bedroom/alluring_triad.jpg' %}" class="img-responsive" alt="Alluring Traid">
					<p class="imnm">
						Alluring Traid <span style="padding-left:21%">Size 14x14ft</span><span style="padding-left:21%">From &#x20B9;210,000</span>
					</p>
					<div>
					    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
					</div>
				</div>
				
				<div class="col-sm-6">
					<img src="{% static 'img/Themes/Bedroom/tinch_of_seaweed.jpg' %}" class="img-responsive" alt="Tinch of Seaweed">
					<p class="imnm">
						Tinch of Seaweed <span style="padding-left:18%">Size 14x14ft</span><span style="padding-left:18%">From &#x20B9;235,000</span>
					</p>
					<div>
					    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
					</div>
				</div>
			</div>
		</div>

		<div class="container containerAlternate">
			<div class="row">
				<div class="col-sm-6">
					<img src="{% static 'img/Themes/Living_room/intriguing_estancia.jpg' %}" class="img-responsive" alt="Intriguing Estancia">
					<p class="imnm">
						Intriguing Estancia <span style="padding-left:17%">Size 20x16ft</span><span style="padding-left:17%">From &#x20B9;425,000</span>
					</p>
					<div>
					    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
					</div>
				</div>

				<div class="col-sm-6">
					<img src="{% static 'img/Themes/Bedroom/bijou_living.jpg' %}" class="img-responsive" alt="Bijou Living">
					<p class="imnm">
						Bijou Living <span style="padding-left:23%">Size 11x12ft</span><span style="padding-left:23%">From &#x20B9;158,000</span>
					</p>
					<div>
					    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
					</div>
				</div>
			</div>
		</div>

		<div class="container containerAlternate">
			<div class="row">
				<div class="col-sm-6">
					<img src="{% static 'img/Themes/Bedroom/dawn_and_dusk.jpg' %}" class="img-responsive" alt="Dawn And Dusk">
					<p class="imnm">
						Dawn And Dusk <span style="padding-left:20%">Size 10x11ft</span><span style="padding-left:20%">From &#x20B9;135,000</span>
					</p>
					<div>
						<hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
					</div>
				</div>
				
				<div class="col-sm-6">
					<img src="{% static 'img/Themes/Living_room/reviving_amber.jpg' %}" class="img-responsive" alt="Reviving Amber">
					<p class="imnm">
						Reviving Amber <span style="padding-left:20%">Size 12x12ft</span><span style="padding-left:20%">From &#x20B9;220,000</span>
					</p>
					<div>
					    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
					</div>
				</div>
			</div>
		</div>

		<div class="container containerAlternate">
			<div class="row">
				<div class="col-sm-6">
					<img src="{% static 'img/Themes/Bedroom/elegant_opulance.jpg' %}" class="img-responsive" alt="Elegant Opulance">
					<p class="imnm">
						Elegant Opulance <span style="padding-left:18%">Size 15x11ft</span><span style="padding-left:18%">From &#x20B9;198,000</span>
					</p>
					<div>
					    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
					</div>
				</div>

				<div class="col-sm-6">
					<img src="{% static 'img/Themes/Living_room/frigid_inn.jpg' %}" class="img-responsive" alt="Frigid Inn">
					<p class="imnm">
						Frigid Inn <span style="padding-left:24%">Size 10x15ft</span><span style="padding-left:24%">From &#x20B9;199,000</span>
					</p>
					<div>
					    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
					</div>
				</div>
			</div>
		</div>

		<div class="container containerAlternate">
			<div class="row">
				<div class="col-sm-6">
					<img src="{% static 'img/Themes/Bedroom/white_space.jpg' %}" class="img-responsive" alt="White Space">
					<p class="imnm">
						White Space <span style="padding-left:22%">Size 10x12ft</span><span style="padding-left:22%">From &#x20B9;175,000</span>
					</p>
					<div>
					    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
					</div>
				</div>

				<div class="col-sm-6">
					<img src="{% static 'img/Themes/Bedroom/turquoise_cottage.jpg' %}" class="img-responsive" alt="Turquoise Cottage">
					<p class="imnm">
						Turquoise Cottage <span style="padding-left:18%">Size 12x13ft</span><span style="padding-left:18%">From &#x20B9;190,000</span>
					</p>
					<div>
					    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
					</div>
				</div>
			</div>
		</div>

		<div class="container containerAlternate">	
			<div class="row">
				<div class="col-sm-6">
					<img src="{% static 'img/Themes/Bedroom/specs_of_grays.jpg' %}" class="img-responsive" alt="Specs Of Grays">
					<p class="imnm">
						Specs Of Grays <span style="padding-left:20%">Size 17x12ft</span><span style="padding-left:20%">From &#x20B9;225,000</span>
					</p>
					<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
					</div>
				</div>

				<div class="col-sm-6">
					<img src="{% static 'img/Themes/Bedroom/space_crunch.jpg' %}" class="img-responsive" alt="Space Crunch">
					<p class="imnm">
						Space Crunch <span style="padding-left:21%">Size 12x9ft</span><span style="padding-left:21%">From &#x20B9;130,000</span>
					</p>
					<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
					</div>
				</div>
			</div>
		</div>

		<div class="container containerAlternate">
			<div class="row">
				<div class="col-sm-6">
					<img src="{% static 'img/Themes/Bedroom/smokey_wood.jpg' %}" class="img-responsive" alt="Smokey Wood">
					<p class="imnm">	
						Smokey Wood <span style="padding-left:20%">Size 10x12ft</span><span style="padding-left:20%">From &#x20B9;158,000</span>
					</p>
					<div>
					    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
					</div>
				</div>
				
				<div class="col-sm-6">
					<img src="{% static 'img/Themes/Bedroom/merging_grays.jpg' %}" class="img-responsive" alt="Merging Grays">
					<p class="imnm">
						Merging Grays <span style="padding-left:21%">Size 9x12ft</span><span style="padding-left:21%">From &#x20B9;135,000</span>
					</p>
					<div>
					    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
					</div>
				</div>
			</div>
		</div>

		<div class="container containerAlternate">
			<div class="row">
				<div class="col-sm-6">
					<img src="{% static 'img/Themes/Bedroom/invigorating_sojourn.jpg' %}" class="img-responsive" alt="Invigorating Sojourn">
					<p class="imnm">
						Invigorating Sojourn <span style="padding-left:16%">Size 15x18ft</span><span style="padding-left:16%">From &#x20B9;300,000</span>
					</p>
					<div>
					    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
					</div>
				</div>

				<div class="col-sm-6">
					<img src="{% static 'img/Themes/Bedroom/evocating_life.jpg' %}" class="img-responsive" alt="Evocating Life">
					<p class="imnm">
						Evocating Life <span style="padding-left:21%">Size 14x14ft</span><span style="padding-left:21%">From &#x20B9;225,000</span>
					</p>
					<div>
					    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
					</div>
				</div>
			</div>
		</div>

		<div class="container containerAlternate">
			<div class="row">
				<div class="col-sm-6">
					<img src="{% static 'img/Themes/Bedroom/dusky_shades.jpg' %}" class="img-responsive" alt="Dusky Shades">
					<p class="imnm">
						Dusky Shades <span style="padding-left:21%">Size 13x15ft</span><span style="padding-left:21%">From &#x20B9;210,000</span>
					</p>
					<div>
					    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
					</div>
				</div>
				
				<div class="col-sm-6">
					<img src="{% static 'img/Themes/Bedroom/majestic_beauty.jpg' %}" class="img-responsive" alt="Majestic Beauty">
					<p class="imnm">
						Majestic Beauty <span style="padding-left:20%">Size 9x12ft</span><span style="padding-left:20%">From &#x20B9;160,000</span>
					</p>
					<div>
					    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
					</div>
				</div>
			</div>
		</div>

		<div class="container containerAlternate">
			<div class="row">
				<div class="col-sm-6">
					<img src="{% static 'img/Themes/Bedroom/close_to_sea.jpg' %}" class="img-responsive" alt="Close To Sea">
					<p class="imnm">
						Close To Sea <span style="padding-left:22%">Size 12x13ft</span><span style="padding-left:22%">From &#x20B9;170,000</span>
					</p>
					<div>
					    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
					</div>
				</div>
				
				<div class="col-sm-6">
					<img src="{% static 'img/Themes/Bedroom/bolster_achromatic.jpg' %}" class="img-responsive" alt="Bolster Achromatic">
					<p class="imnm">
						Bolster Achromatic <span style="padding-left:17%">Size 12x13ft</span><span style="padding-left:17%">From &#x20B9;199,000</span>
					</p>
					<div>
					    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
					</div>
				</div>
			</div>
		</div>
	
		<div class="contact">
			<a href="{% url 'renovation_consultation' %}"><button class="btn btn-lg" style = "color: white; text-decoration: none !important;" type="button">Hire A Designer</button></a>
		</div>
	</div>

	{% include 'Footer/copyright.html' %}
	{% include 'javascript.html' %}

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>