{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>iRenovate | Wardrobes</title>

	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script
	  src="https://code.jquery.com/jquery-3.1.1.min.js"
	  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	  crossorigin="anonymous">
	</script>

	<script
	  src="https://code.jquery.com/color/jquery.color-2.1.2.js"
	  integrity="sha256-1Cn7TdfHiMcEbTuku97ZRSGt2b3SvZftEIn68UMgHC8="
	  crossorigin="anonymous">
	</script>

	<style type="text/css">
		.paragraph {
			font-family: 'Raleway', sans-serif;
			font-size: 2.2em;
			padding: 3% 0% 3% 0%;
		}

		.ain {
			padding-bottom: 20px;
		}

		.imnm {
			font-family: 'Raleway', sans-serif;
			font-size: 1.2em;
			text-align: left;
			padding-top: 2%;
			padding-left: 1%;
			margin-bottom: 0px;
			padding-bottom: 0px;
		}

		.contact {
			float: none;
			text-align: center;
			margin-top: 2%;
		}
	</style>
</head>

{% include "navbar.html" %}

<body>

	{% include "Themes/4usp.html" %}
	
	<div class="container ain">
		<p class="paragraph">
			A Range of Wardrobes For Your Home!
		</p>
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Wardrobe/Wardrobe1.jpg' %}" class="img-responsive" alt="Brunette Wardrobe">
				<p class="imnm">
					Brunette Wardrobe
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Wardrobe/Wardrobe2.jpg' %}" class="img-responsive" alt="Caucasian Wardrobe">
				<p class="imnm">
					Caucasian Wardrobe
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
		</div>
	</div>

	<div class="container ain">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Wardrobe/Wardrobe3.jpg' %}" class="img-responsive" alt="Webster Grey Wardrobe">
				<p class="imnm">
					Webster Grey Wardrobe
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Wardrobe/Wardrobe4.jpg' %}" class="img-responsive" alt="White Gerbera Wardrobe">
				<p class="imnm">
					White Gerbera Wardrobe
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
		</div>
	</div>

	<div class="container ain">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Wardrobe/Wardrobe5.jpg' %}" class="img-responsive" alt="Pansy Black Wardrobe">
				<p class="imnm">
					Pansy Black Wardrobe
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Wardrobe/Wardrobe6.jpg' %}" class="img-responsive" alt="Wooden Typhoon Wardrobe">
				<p class="imnm">
					Wooden Typhoon Wardrobe
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
		</div>
	</div>

	<div class="container ain">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Wardrobe/Wardrobe7.jpg' %}" class="img-responsive" alt="Salmon Grey Wardrobe">
				<p class="imnm">
					Salmon Grey Wardrobe
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Wardrobe/Wardrobe8.jpg' %}" class="img-responsive" alt="Roseate Wardrobe">
				<p class="imnm">
					Roseate Wardrobe
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
		</div>
	</div>

	<div class="container ain">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Wardrobe/Wardrobe9.jpg' %}" class="img-responsive" alt="Mirrored Grey">
				<p class="imnm">
					Mirrored Grey
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Wardrobe/Wardrobe10.jpg' %}" class="img-responsive" alt="Nut-Brown Wardrobe">
				<p class="imnm">
					Nut-Brown Wardrobe
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
		</div>
	</div>

	<div class="container ain">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Wardrobe/Wardrobe11.jpg' %}" class="img-responsive" alt="Orchid White">
				<p class="imnm">
					Orchid White
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Wardrobe/Wardrobe12.jpg' %}" class="img-responsive" alt="Toulon Wardrobe">
				<p class="imnm">
					Toulon Wardrobe
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
		</div>
	</div>

	<div class="container ain">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Wardrobe/Wardrobe13.jpg' %}" class="img-responsive" alt="">
				<p class="imnm">
					Glazed Ebony
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Wardrobe/Wardrobe14.jpg' %}" class="img-responsive" alt="">
				<p class="imnm">
					Brushed Amber
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
		</div>
	</div>

	<div class="contact">
		<a href="{% url 'renovation_consultation' %}"><button type="button" class="btn btn-danger btn-lg">Contact Our Wardrobe Expert</button></a>
	</div>

	{% include 'Footer/copyright.html' %}
	{% include 'javascript.html' %}

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>