{% load crispy_forms_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>iRenovate | Wardrobes</title>

	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script
	  src="https://code.jquery.com/jquery-3.1.1.min.js"
	  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	  crossorigin="anonymous">
	</script>

	<script
	  src="https://code.jquery.com/color/jquery.color-2.1.2.js"
	  integrity="sha256-1Cn7TdfHiMcEbTuku97ZRSGt2b3SvZftEIn68UMgHC8="
	  crossorigin="anonymous">
	</script>

	<style type="text/css">
		.formOuterDiv {
			background-image: url("{% static 'img/Themes/Wardrobe/background/wardrobe-background.jpg' %}");
			width: 100%;
			background-repeat: no-repeat;
			min-height: 415px;
			background: linear-gradient (
				rgba(61, 46, 29, 0), 
				rgba(0, 0, 0, 0)
			);
			padding-top: 10px;
			margin-bottom: 4%;
			color: white;
		}

		#contactusnow1 {
			background-color: white;
			padding-bottom: 5px;
			margin-top: -2px;
			color: black;
			margin-right: 100px;
			width: 24%;
		}

		.paragraph {
			font-family: 'Raleway', sans-serif;
			font-size: 2.2em;
			padding: 3% 0% 3% 0%;
		}

		.ain {
			padding-bottom: 20px;
		}

		.imnm {
			font-family: 'Raleway', sans-serif;
			font-size: 1.2em;
			text-align: left;
			padding-top: 5%;
			padding-left: 1%;
			margin-bottom: 20px;
			padding-bottom: 0px;
		}

		.contact {
			float: none;
			text-align: center;
			margin-top: 2%;
		}

		.img-responsive:hover {		
			box-shadow: 0px 0px 10px 10px #ccc;
			-webkit-transition: all .3s linear;
		}
	</style>
</head>

{% include "navbar.html" %}

<body>
	<!-- Banner -->    
    <div class="formOuterDiv">
      <div class="col-sm-4  col-xs-12  col-md-3 col-md-offset-9" id="contactusnow1">
        <p style="font-size: 1.8em;font-family:'Averia Sans Libre', cursive;" class='lead text-align-center'>Talk to our expert!</p>
        <form method='POST' action="">{% csrf_token %}
          {{ form|crispy }}
          <input class='btn btn-block' type='submit' value='Start Designing' style="background-color:#f74861; color:white; font-size: 1em"/>
        </form>
      </div>
    </div>

	{% include "Themes/4usp.html" %}
	
	<div class="container ain">
		<p class="paragraph">
			A Range of Wardrobes For Your Home!
		</p>
		
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Wardrobe/brunette-wardrobe.jpg' %}" class="img-responsive" alt="Brunette Wardrobe">
				<p class="imnm">
					Size 10x8ft <span style="padding-left:20%">Slider Wardrobe</span><span style="padding-left:20%">From &#x20B9;96,000</span>
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
			
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Wardrobe/caucasian-wardrobe.jpg' %}" class="img-responsive" alt="Caucasian Wardrobe">
				<p class="imnm">
					Size 12x8ft <span style="padding-left:12%">Openable Shutter Wardrobe</span><span style="padding-left:12%">From &#x20B9;110,000</span>
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
		</div>
	</div>

	<div class="container ain">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Wardrobe/webster-grey-wardrobe.jpg' %}" class="img-responsive" alt="Webster Grey Wardrobe">
				<p class="imnm">
					Size 6x7ft <span style="padding-left:12%">Slider Wardrobe</span><span style="padding-left:12%">From &#x20B9;52,000</span>
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
			
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Wardrobe/white-gerbera-wardrobe.jpg' %}" class="img-responsive" alt="White Gerbera Wardrobe">
				<p class="imnm">
					Size 12x8ft <span style="padding-left:12%">Openable Shutter Wardrobe</span><span style="padding-left:12%">From &#x20B9;110,000</span>
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
		</div>
	</div>

	<div class="container ain">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Wardrobe/pansy-black-wardrobe.jpg' %}" class="img-responsive" alt="Pansy Black Wardrobe">
				<p class="imnm">
					Size 9x7ft <span style="padding-left:12%">Openable Shutter Wardrobe</span><span style="padding-left:12%">From &#x20B9;74,000</span>
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
			
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Wardrobe/wooden-typhoon-wardrobe.jpg' %}" class="img-responsive" alt="Wooden Typhoon Wardrobe">
				<p class="imnm">
					Size 9x10ft <span style="padding-left:12%">Slider Wardrobe</span><span style="padding-left:12%">From &#x20B9;112,500</span>
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
		</div>
	</div>

	<div class="container ain">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Wardrobe/salmon-grey-wardrobe.jpg' %}" class="img-responsive" alt="Salmon Grey Wardrobe">
				<p class="imnm">
					Size 8x7ft <span style="padding-left:12%">Slider Wardrobe</span><span style="padding-left:12%">From &#x20B9;89,000</span>
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
			
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Wardrobe/roseate-wardrobe.jpg' %}" class="img-responsive" alt="Roseate Wardrobe">
				<p class="imnm">
					Size 8x7ft <span style="padding-left:12%">Slider Wardrobe</span><span style="padding-left:12%">From &#x20B9;66,000</span>
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
		</div>
	</div>

	<div class="container ain">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Wardrobe/mirrored-grey.jpg' %}" class="img-responsive" alt="Mirrored Grey">
				<p class="imnm">
					Size 10x8ft <span style="padding-left:12%">Slider Wardrobe</span><span style="padding-left:12%">From &#x20B9;130,000</span>
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
			
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Wardrobe/nut-brown-wardrobe.jpg' %}" class="img-responsive" alt="Nut-Brown Wardrobe">
				<p class="imnm">
					Size 9x9ft <span style="padding-left:12%">Openable Shutter Wardrobe</span><span style="padding-left:12%">From &#x20B9;93,000</span>
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
		</div>
	</div>

	<div class="container ain">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Wardrobe/orchid-white.jpg' %}" class="img-responsive" alt="Orchid White">
				<p class="imnm">
					Size 6x7ft <span style="padding-left:12%">Slider Wardrobe</span><span style="padding-left:12%">From &#x20B9;48,000</span>
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
			
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Wardrobe/toulon-wardrobe.jpg' %}" class="img-responsive" alt="Toulon Wardrobe">
				<p class="imnm">
					Size 8x8ft <span style="padding-left:12%">Openable Shutter Wardrobe</span><span style="padding-left:12%">From &#x20B9;102,000</span>
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
		</div>
	</div>

	<div class="container ain">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Wardrobe/glazed-ebony.jpg' %}" class="img-responsive" alt="">
				<p class="imnm">
					Size 6x7ft <span style="padding-left:12%">Openable Shutter Wardrobe</span><span style="padding-left:12%">From &#x20B9;48,000</span>
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
			
			<div class="col-sm-6">
				<img src="{% static 'img/Themes/Wardrobe/brushed-amber.jpg' %}" class="img-responsive" alt="">
				<p class="imnm">
					Size 7x9ft <span style="padding-left:12%">Slider Wardrobe</span><span style="padding-left:12%">From &#x20B9;78,500</span>
				</p>
				<div>
				    <hr style="width: 99%; border: .3px solid #d1d1d1; margin-bottom: 0px;">
				</div>
			</div>
		</div>
	</div>

	<div class="contact">
		<a href="{% url 'renovation_consultation' %}"><button class="btn btn-lg" style = "background-color: #f74861;color: white; text-decoration: none !important;" type="button">Contact Our Expert</button></a>
	</div>

	{% include 'Footer/copyright.html' %}
	{% include 'javascript.html' %}

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>