{% load crispy_forms_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>iRenovate | Acknowledgement</title>
	<style type="text/css">
		.innerDiv {
			padding-top: 20%;
		    font-size: 3.2rem;
		    text-align: center;
		    color: red;
		    font-style: italic;
		    margin-top: -15px;
		}

		.outerDiv {
			background-image: url("{% static 'img/ack.JPG' %}");
			height: 100%;
		}

		.footer {
			margin-top: -1%;
		}
	</style>
</head>

{% include "navbar.html" %}

<body>
	<div class="outerDiv">
		<p class="innerDiv">
			Thank you for contacting us! </br>
			Our team of specialist would get in touch with you shortly.
		</p>
	</div>

	{% include 'Footer/copyright.html' %}
	{% include 'javascript.html' %}

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
</body>
</html>