{% load crispy_forms_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>iRenovate | Acknowledgement</title>
	<style type="text/css">
		.innerDiv {
			padding-top: 20%;
			font-size: 3.2rem;
			text-align: center;
			color: red;
			font-style: italic;
			margin-top: -15px;
		}

		.outerDiv {
			background-image: url("{% static 'img/ack.JPG' %}");
			height: 100%;
		}

		.footer {
			margin-top: -1%;
		}
	</style>
</head>

{% include "navbar.html" %}

<body>
	<div class="outerDiv">
		<p class="innerDiv">
			Thank you for contacting us! </br>
			Our team of specialist would get in touch with you shortly.
		</p>
	</div>

	{% include 'Footer/copyright.html' %}
	{% include 'javascript.html' %}

	<!-- Google Code for Inquiry Conversion Page -->
	<script type="text/javascript">
		/* <![CDATA[ */
		var google_conversion_id = 852155665;
		var google_conversion_language = "en";
		var google_conversion_format = "3";
		var google_conversion_color = "ffffff";
		var google_conversion_label = "thKFCMGwwnIQkbqrlgM";
		var google_remarketing_only = false;
		/* ]]> */
	</script>

	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
	</script>

	<noscript>
		<div style="display:inline;">
			<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/852155665/?label=thKFCMGwwnIQkbqrlgM&amp;guid=ON&amp;script=0"/>
		</div>
	</noscript>
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>