{% load crispy_forms_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Join us</title>

	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<style type="text/css">
		.imge {

		    width: 50%;
		    border-radius: 100%;
		    margin-left: 23%;
		    margin-bottom: 8%;
		}

		.im {

			width: 55%;
		    border-radius: 100%;
		    margin-bottom: 8%;
		    margin-left: 20%;
		}

		.hd {
			text-align: center;
			font-size: 5rem;
			padding-bottom: 25px;
			font-family: 'Oswald', sans-serif;
		}

		.dcn {
			text-align: justify;
		    padding-left: 80px;
		    padding-right: 80px;
		    font-size: 13px;
		    font-family: 'Oswald', sans-serif;
		}

		.descn {
			padding-left: 40px;
		    padding-right: 40px;
		    text-align: justify;
		    padding-bottom: 30px;
		    font-family: 'Oswald', sans-serif;
		}

		.fdcn {
			font-family: 'Oswald', sans-serif;
		}

		.none {
			text-align: center;
			font-size: 2rem;
		}

		.coo {
			text-align: center;
		}


	</style>

</head>

{% include 'navbar.html' %}

<body>
<div class="container">
	<h3 style="text-align: center; font-size: 6rem; padding-bottom: 30px;font-family: 'Oswald', sans-serif;"> Our Story </h3>
	<div class="row">
		<div class="col-sm-6 col-xs-12 col-md-6 fdcn">
			"The vision seen by our founders at iRenovate is to change the viewpoint of the people who believe that choosing professional help for renovating would be a tedious and exorbitant experience. They also feel hesitant to trust the quality of work and material used. We, at iRenovate, want to change that opinion by building a relationship of trust and transparency between our clients and us, and provide them with best customer service.

			There has always been a need of renovation and alteration specialist builders in the building and construction industry. Seeing this need our founders came up with the idea of combining technology with design and construction, which is their field of specialization, and started iRenovate in 2016.
		</div>
		<div class="col-sm-6 col-xs-12 col-md-6 fdcn">
			iRenovate, is tailored for people who need that extra edge to upgrade their homes to a whole new level. We have a dedicated team that works for your home improvement and maintenance needs and deliver flawless maintenance and enhancement plans to increase your home condition. We service the areas of Delhi/NCR.

			iRenovate is a Joint Venture between BAAS Constructions and Bhagwati Construction Co. and was founded to establish a new foot in the Real Estate."
		</div>
	</div>
	<h3 class="hd">
		Founder and CEO
	</h3>
	<div class="row">
		<div class="col-sm-6 col-xs-12 col-md-6">
			<div class="row">
				<img class="im" src="{% static 'img/career/shivang1.jpg' %}">
			</div>
			<div class="row dcn">
				<p class="none">
					Shivang Kapoor
				</p>
				<p class="coo">
					Founder and CEO
				</p>
				<p>
					a.k.a The Troublemaker: The energy powerhouse in organization. He is the driving force behind all the projects. Knows all the tits and bits of management and handles the human resouces to perfection. He prefixes the fun before work in working environment. Besides creating funny troubles, he loves to travel the world over. 
				</p>
			</div>
		</div>
		<div class="col-sm-6 col-xs-12 col-md-6">
			<div class="row">
				<img class="im"  src="{% static 'img/career/survir.PNG' %}">
			</div>
			<div class="row dcn">
				<p class="none">
					Shoorvir Yadav
				</p>
				<p class="coo">
					Founder and COO
				</p>
				<p>
					a.k.a The Mozart: He is a civil genius and beholds passion for making new buildings and esteemed architectures. A visionary who understands ongoing needs of his clients and is always up for the challenge to create the extraordinary. When not working, he can also be found taking care of his family and kids.
				</p>
			</div>
		</div>
	</div>
	<h2 class="hd" >
		Our Team
	</h2>
	<div class="row">
		<div class="col-sm-4 col-xs-12 ">
			<div class="row">
				<img class="imge" src="{% static 'img/career/pragati.PNG' %}">
			</div>
			<div class="row descn">
				<p class="none">
					Pragati Gupta
				</p>
				<p>
					a.k.a The Practitioner: She is the inhouse Architect and designs new frameworks for houses. She has a good aura for becoming a master in her field. Besides disigning houses, she could be found socializing with new people, partying late night and travelling all over India.
				</p>
			</div>
		</div>
		
		<div class="col-sm-4 col-xs-12 ">
			<div class="row">
				<img class="imge" src="{% static 'img/career/kaushika.PNG' %}">
			</div>
			<div class="row descn">
				<p class="none">
					Kaushika Sharma
				</p>
				<p>
					a.k.a The Lady Picasso: She is the interior design expert and helps clients build their beautiful home. She is progressive and dynamic in her work. When she is not making amazing designs she can be found reading fiction novels and exploring new designs.
				</p>
			</div>
		</div>
		
		<div class="col-sm-4 col-xs-12 ">
			<div class="row">
				<img class="imge" src="{% static 'img/career/nidhi.PNG' %}">
			</div>
			<div class="row descn">
				<p class="none">
					Nidhi Malhotra
				</p>
				<p>
					 a.k.a The Ambassador of Buzz: She is  a customer acquisition consultant. Often referred as the bubly lady in the firm. She is professional and a good team worker. Apart from work she can be found spending money in one of the shopping outlets as well as cooking some succulent food. 
				</p>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-4 col-xs-12 ">
			<div class="row">
				<img class="imge" src="{% static 'img/career/ruby.PNG' %}">
			</div>
			<div class="row descn">
				<p class="none">
					Ruby Verma
				</p>
				<p>
					a.k.a The Leading Buzz: She is also a customer acquisition consultant referred as miss perfectionist and socially active. She cordinates the whole team and hunts down new leads for the company. An avid music lover,loves to dance, she enjoys hanging with her friends. 
				</p>
			</div>
		</div>
	</div>
	<div class="row">
	</div>

	<h2 class="hd" >
		Interns
	</h2>
	<div class="row">
		<div class="col-sm-4 col-xs-12 ">
			<div class="row">
				<img class="imge" src="{% static 'img/career/rohit.PNG' %}">
			</div>
			<div class="row descn">
				<p class="none">
					Rohit Kumar Yadav
				</p>
				<p>
					a.k.a Crusher: He manages the backend of our website. He is responsible for managing the interchange of data between the server and the users. He is talented and beholds the ability to work as a leader. Outside of work, he is a self-proclaimed CS 1.6 and NFS most wanted player.
				</p>
			</div>
		</div>
		
		<div class="col-sm-4 col-xs-12 ">
			<div class="row">
				<img class="imge" src="{% static 'img/career/saroj.PNG' %}">
			</div>
			<div class="row descn">
				<p class="none">
					Saroj Kumar
				</p> 
				<p>
					a.k.a The Pointless Drifter: The prime hand behind the looks and feel of the website.
					He is the stubborn mind behind peculiarity of the website design and loves to argue.
					He flourishes while on work in non-work related topics. He like playing games and he loves to daydream. 
				</p>
			</div>
		</div>
		
		<div class="col-sm-4 col-xs-12 ">
			<div class="row" >
				<img class="imge" src="{% static 'img/career/shimona.PNG' %}">
			</div>
			<div class="row descn">
				<p class="none">
					Shimona Sharma
				</p>
				<p>
					a.k.a The Cosmos: She is responsible for all the textual entries on and off this website. As the name implies, her imagination is bounded by periphery of the universe. In her free time she loves to explore the neighbourhood and get inspirations from arbitrary elements.
				</p>
				<p>
					
				</p>
			</div>
		</div>
	</div>

	<div class="row">		
		<div class="col-sm-4 col-xs-12 ">
			<div class="row">
				<img class="imge" src="{% static 'img/career/somesh.PNG' %}">
			</div>
			<div class="row descn">
				<p class="none">
					Somesh Chaudhary
				</p>
				<p>
					a.k.a The Descriptionist: He loves to describe every experience of his life in form of text and photos. In charge of blogging and performing quality checks on different aspects of all the product and services. Besides working, he can be located in his basement playing games like FIFA, GTA V, The Witcher 3, Resident Evil 7.
				</p>
			</div>
		</div>
	</div>
	
	<p style="text-align: center;font-size: 2.5rem;">To join us, drop us an e-mail.</p>
	<div style="text-align: center; font-size: 1.9rem;">
		<i class="fa fa-envelope-o fa-1x" aria-hidden="true"></i> &nbsp;
		<a align = "center" href="mailto:info@irenovate.in" > info@irenovate.in </a>
	</div>

</div>
	{% include 'copyright.html' %}
	{% include 'javascript.html' %}

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>