<!DOCTYPE html>
<html>
<head>
	<title>Join us.</title>

	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<style type="text/css">
		.imge {
		    width: 200px;
		    border-radius: 100%;
		    height: 200px;
		    margin-left: 70px;
		    margin-bottom: 30px;
		}

		.im {

			width: 300px;
		    height: 290px;
		    border-radius: 100%;
		    margin-bottom: 50px;
		    margin-left: 100px;
		}

		.hd {
			text-align: center;
			font-size: 5rem;
			padding-bottom: 25px;
			font-family: 'Oswald', sans-serif;
			padding-top: 80px;
		}

		.dcn {
			text-align: justify;
		    padding-left: 80px;
		    padding-right: 80px;
		    font-size: 13px;
		    font-family: 'Oswald', sans-serif;
		}

		.descn {
			padding-left: 40px;
		    padding-right: 40px;
		    text-align: justify;
		    padding-bottom: 30px;
		    font-family: 'Oswald', sans-serif;
		}

		.fdcn {
			font-family: 'Oswald', sans-serif;
		}

		.name{
			text-align: center;
		}
	</style>


</head>
<body>
<div class="container">
	<h3 style="text-align: center; font-size: 6rem; padding-bottom: 30px;font-family: 'Oswald', sans-serif;"> Our Story </h3>
	<div class="row">
		<div class="col-sm-6 col-xs-12 col-md-6 fdcn">
			"The vision seen by our founders at iRenovate is to change the viewpoint of the people who believe that choosing professional help for renovating would be a tedious and exorbitant experience. They also feel hesitant to trust the quality of work and material used. We, at iRenovate, want to change that opinion by building a relationship of trust and transparency between our clients and us, and provide them with best customer service.

			There has always been a need of renovation and alteration specialist builders in the building and construction industry. Seeing this need our founders came up with the idea of combining technology with design and construction, which is their field of specialization, and started iRenovate in 2016.
		</div>
		<div class="col-sm-6 col-xs-12 col-md-6 fdcn">
			iRenovate, is tailored for people who need that extra edge to upgrade their homes to a whole new level. We have a dedicated team that works for your home improvement and maintenance needs and deliver flawless maintenance and enhancement plans to increase your home condition. We service the areas of Delhi/NCR.

			iRenovate is a Joint Venture between BAAS Constructions and Bhagwati Construction Co. and was founded to establish a new foot in the Real Estate."
		</div>
	</div>
	<h3 class="hd">
		Founder and CEO
	</h3>
	<div class="row">
		<div class="col-sm-6 col-xs-12 col-md-6">
			<div class="row">
				<img class="im" src="http://img.cinemablend.com/cb/1/d/e/f/a/4/1defa40e761cf450df3c8c814bd62fdbeb20df8bea858eab63e12b1b6b4f1fdb.jpg">
			</div>
			<div class="row dcn">
				<p class="name">
					My name
				</p>
				<p>
					I will provide an excel sheet with 3 columns. Column A: product number; Column B: URL; Column C: blank, to be populated by you. The URL will look like this: [url removed, login to vie...I will provide an excel sheet with 3 columns. Column A: product number; Column B: URL; Column C: blank, to be populated by you. The URL will look like this: [url removed, login to vie...
				</p>
			</div>
		</div>
		<div class="col-sm-6 col-xs-12 col-md-6">
			<div class="row">
				<img class="im" src="http://img.cinemablend.com/cb/1/d/e/f/a/4/1defa40e761cf450df3c8c814bd62fdbeb20df8bea858eab63e12b1b6b4f1fdb.jpg">
			</div>
			<div class="row dcn">
				<p class="name">
					My name
				</p>
				<p>
					I will provide an excel sheet with 3 columns. Column A: product number; Column B: URL; Column C: blank, to be populated by you. The URL will look like this: [url removed, login to vie...I will provide an excel sheet with 3 columns. Column A: product number; Column B: URL; Column C: blank, to be populated by you. The URL will look like this: [url removed, login to vie...
				</p>
			</div>
		</div>
	</div>
	<h2 class="hd" >
		Our Team
	</h2>
	<div class="row">
		<div class="col-sm-4 col-xs-12 ">
			<div class="row">
				<img class="imge" src="http://img.cinemablend.com/cb/1/d/e/f/a/4/1defa40e761cf450df3c8c814bd62fdbeb20df8bea858eab63e12b1b6b4f1fdb.jpg">
			</div>
			<div class="row descn">
				<p class="name">
					My name
				</p>
				<p>
					I will provide an excel sheet with 3 columns. Column A: product number; Column B: URL; Column C: blank, to be populated by you. The URL will look like this: [url removed, login to vie...I will provide an excel sheet with 3 columns. Column A: product number; Column B: URL; Column C: blank, to be populated by you. The URL will look like this: [url removed, login to vie...
				</p>
			</div>
		</div>
		<div class="col-sm-4 col-xs-12 ">
			<div class="row">
				<img class="imge" src="http://img.cinemablend.com/cb/1/d/e/f/a/4/1defa40e761cf450df3c8c814bd62fdbeb20df8bea858eab63e12b1b6b4f1fdb.jpg">
			</div>
			<div class="row descn">
				<p class="name">
					My name
				</p>
				<p>
					I will provide an excel sheet with 3 columns. Column A: product number; Column B: URL; Column C: blank, to be populated by you. The URL will look like this: [url removed, login to vie...I will provide an excel sheet with 3 columns. Column A: product number; Column B: URL; Column C: blank, to be populated by you. The URL will look like this: [url removed, login to vie...
				</p>
			</div>
		</div>
		<div class="col-sm-4 col-xs-12 ">
			<div class="row">
				<img class="imge" src="http://img.cinemablend.com/cb/1/d/e/f/a/4/1defa40e761cf450df3c8c814bd62fdbeb20df8bea858eab63e12b1b6b4f1fdb.jpg">
			</div>
			<div class="row descn">
				<p class="name">
					My name
				</p>
				<p>
					I will provide an excel sheet with 3 columns. Column A: product number; Column B: URL; Column C: blank, to be populated by you. The URL will look like this: [url removed, login to vie...I will provide an excel sheet with 3 columns. Column A: product number; Column B: URL; Column C: blank, to be populated by you. The URL will look like this: [url removed, login to vie...
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-xs-12 ">
			<div class="row">
				<img class="imge" src="http://img.cinemablend.com/cb/1/d/e/f/a/4/1defa40e761cf450df3c8c814bd62fdbeb20df8bea858eab63e12b1b6b4f1fdb.jpg">
			</div>
			<div class="row descn">
				<p class="name">
					My name
				</p>
				<p>
					I will provide an excel sheet with 3 columns. Column A: product number; Column B: URL; Column C: blank, to be populated by you. The URL will look like this: [url removed, login to vie...I will provide an excel sheet with 3 columns. Column A: product number; Column B: URL; Column C: blank, to be populated by you. The URL will look like this: [url removed, login to vie...
				</p>
			</div>
		</div>
		<div class="col-sm-4 col-xs-12 ">
			<div class="row">
				<img class="imge" src="http://img.cinemablend.com/cb/1/d/e/f/a/4/1defa40e761cf450df3c8c814bd62fdbeb20df8bea858eab63e12b1b6b4f1fdb.jpg">
			</div>
			<div class="row descn">
				<p class="name">
					My name
				</p>
				<p>
					I will provide an excel sheet with 3 columns. Column A: product number; Column B: URL; Column C: blank, to be populated by you. The URL will look like this: [url removed, login to vie...I will provide an excel sheet with 3 columns. Column A: product number; Column B: URL; Column C: blank, to be populated by you. The URL will look like this: [url removed, login to vie...
				</p>
			</div>
		</div>
		<div class="col-sm-4 col-xs-12 ">
			<div class="row">
				<img class="imge" src="http://img.cinemablend.com/cb/1/d/e/f/a/4/1defa40e761cf450df3c8c814bd62fdbeb20df8bea858eab63e12b1b6b4f1fdb.jpg">
			</div>
			<div class="row descn">
				<p class="name">
					My name
				</p>
				<p>
					I will provide an excel sheet with 3 columns. Column A: product number; Column B: URL; Column C: blank, to be populated by you. The URL will look like this: [url removed, login to vie...I will provide an excel sheet with 3 columns. Column A: product number; Column B: URL; Column C: blank, to be populated by you. The URL will look like this: [url removed, login to vie...
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-xs-12 ">
			<div class="row">
				<img class="imge" src="http://img.cinemablend.com/cb/1/d/e/f/a/4/1defa40e761cf450df3c8c814bd62fdbeb20df8bea858eab63e12b1b6b4f1fdb.jpg">
			</div>
			<div class="row descn">
				<p class="name">
					My name
				</p>
				<p>
					I will provide an excel sheet with 3 columns. Column A: product number; Column B: URL; Column C: blank, to be populated by you. The URL will look like this: [url removed, login to vie...I will provide an excel sheet with 3 columns. Column A: product number; Column B: URL; Column C: blank, to be populated by you. The URL will look like this: [url removed, login to vie...
				</p>
			</div>
		</div>
		<div class="col-sm-4 col-xs-12 ">
			<div class="row">
				<img class="imge" src="http://img.cinemablend.com/cb/1/d/e/f/a/4/1defa40e761cf450df3c8c814bd62fdbeb20df8bea858eab63e12b1b6b4f1fdb.jpg">
			</div>
			<div class="row descn">
				<p class="name">
					My name
				</p>
				<p>
					I will provide an excel sheet with 3 columns. Column A: product number; Column B: URL; Column C: blank, to be populated by you. The URL will look like this: [url removed, login to vie...I will provide an excel sheet with 3 columns. Column A: product number; Column B: URL; Column C: blank, to be populated by you. The URL will look like this: [url removed, login to vie...
				</p>
			</div>
		</div>
		<div class="col-sm-4 col-xs-12 ">
			<div class="row">
				<img class="imge" src="http://img.cinemablend.com/cb/1/d/e/f/a/4/1defa40e761cf450df3c8c814bd62fdbeb20df8bea858eab63e12b1b6b4f1fdb.jpg">
			</div>
			<div class="row descn">
				<p class="name">
					My name
				</p>
				<p>
					I will provide an excel sheet with 3 columns. Column A: product number; Column B: URL; Column C: blank, to be populated by you. The URL will look like this: [url removed, login to vie...I will provide an excel sheet with 3 columns. Column A: product number; Column B: URL; Column C: blank, to be populated by you. The URL will look like this: [url removed, login to vie...
				</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>