{% load crispy_forms_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>iRenovate | Our Sevices</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<style type="text/css">

		

		.headCustom {
			height: 20%;
			font-size: 3.0em;
			padding-left: 3%;
			padding-top: 3%;
		}

		.bodyCustom {
			text-align:justify;
			padding-left: 10%;
			padding-right: 10%;

		}

		.footerCustom {
			text-align:justify;
			padding-left: 5%;
			padding-right: 5%;
			font-size: 1.3em;
		}

		.bodyCustom1 {
			font-size: 1.3em;
			text-align:justify;
			padding-left: 3%;
			padding-right: 3%;
		}
	</style>

</head>
{% include "navbar.html" %}
<body>
<div class="container">
	<div class="panel panel-default panelCustom">
		<div class="panel-heading headCustom">
			OUR SERVICES
		</div>
		<div class="panel-body bodyCustom1">
		<p>
			Are you in need of a new kitchen, bathroom, room refurbishment, more space for your growing family, or a complete home renovation to give you the lifestyle you’ve always wanted?
			Then you’ve come to the right place! We, at iRenovate, have a qualified team of designers and builders who work only on alterations, additions, extensions and renovations. From minor repairs to changing the architectural structure, we do all kinds of renovations! No matter how big or small your renovation, we’ll deliver on time and within your budget. <br><br> <b>Here at iRenovate we do :</b>
        </p>
		</div>
		<div class="panel-footer footerCustom" style="background-color: beige;">
			Home renovations
		</div>
		<div class="panel-body bodyCustom">
			<p>
			Renovating your home can be a major decision and you need a builder who you can trust with quality and workmanship that meets you expectations. Our company specializes in renovation work, we are very experienced and we provide clients with high quality, cost effective solutions. We include services like,
        </p>
      <ul>
      	<li>Modification of current structure</li>
      	<li>Extensions to the existing structure </li>
      	<li>Plumbing and electrical fixtures</li>
      	<li>Floor additions </li>
      	<li> Floor plan design</li>
      	<li>Rejuvenation of old structures</li>
      </ul>
		</div>
		<div class="panel-footer footerCustom" style="background-color: beige;">
			Home improvement
		</div>
		<div class="panel-body bodyCustom">
			<p>
				We can give a new look to your old fashioned home, so you can feel good about your home and yourself. We do,
      </p>
       <ul>
       	<li>Maintenance repair </li>
       	<li>Adding extra space </li>
       	<li>Installing safety and emergency preparedness.</li>
       	<li>Adding comfort </li>
       	<li>Aesthetic changes </li>
       </ul>
		</div>
		<div class="panel-footer footerCustom" style="background-color: beige;">
			Bathroom renovation
		</div>
		<div class="panel-body bodyCustom">
			<p>
			Is your Bathroom in need of an update?  Our expert designers will help you create a bathroom that combines both style with ultimate in functionality. Changing doors or removing walls or even a plumbing job, iRenovate does it all! We provide
        </p>

		</div>
		<div class="panel-footer footerCustom" style="background-color: beige;">
			Bathroom renovation
		</div>
		<div class="panel-body bodyCustom">
			<p>
			 Is your Bathroom in need of an update?  Our expert designers will help you create a bathroom that combines both style with ultimate in functionality. Changing doors or removing walls or even a plumbing job, iRenovate does it all! We provide
        </p>
        <ul>
        	<li>Bathroom Contractor</li>
        	<LI>Bathroom Designers</LI>
        	<li>Plumbing contractors</li>
        	<li>Waterproofing Contractors</li>
        </ul>
		</div>
		<div class="panel-footer footerCustom" style="background-color: beige;">
			Kitchen renovation:
		</div>
		<div class="panel-body bodyCustom">
			<p>
			Want to give your current kitchen look and feel of a modern modular kitchen? We at iRenovate assure you to deliver a fabulous kitchen of your dreams! We provide
        </p>
       <ul>
        	<li>Kitchen Contractors</li>
        	<LI>Kitchen Carpenters</LI>
        	<li>Kitchen Designer</li>
        </ul>
        
		</div>
		<div class="panel-footer footerCustom" style="background-color: beige;">
			Office Renovation
		</div>
		<div class="panel-body bodyCustom">
			<p>
				We at iRenovate along with providing solutions for your renovation problems undertake Turnkey Interior Projects for Corporate & Commercial spaces like Fit-outs, Offices, Hotels, Restaurants, Retail & Showrooms. Our strong team of Architects & Interior designers works in tandem with Engineers & Project Managers to deliver a distinctive, logical & viable solution that satisfies functional and aesthetical requirements while considering the project perspective with the budget constraints.
      </p><br><b>Office Design Services</b>

     <ul>
      	<li>Corporate & Commercial Interior Design</li>
      	<LI>Interior Design</LI>
      	<li>Interior Architecture</li>
      	<li>Design Consultancy</li>
      	<LI>Turnkey Interior Solutions</LI>
      	<li>Landscape Design</li>
      	<li>Services Planning</li>
      </ul> 
		</div>
	</div>
</div>
  {% include 'Footer/copyright.html' %}
  
  {% include 'javascript.html' %}
</body>
</html>