{% load crispy_forms_tags %}
{% load staticfiles %}

<html>
<head>
  <title>iRenovate | Privacy Policy</title>
  <meta name="viewport" content="width = device-width, initial-scale = 1">
  <meta charset="utf-8"/>
  <meta name="description" content="Design your dream home with India's top online renovation destination."/>
  
  <script src="https://use.fontawesome.com/e5ed662be5.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-92568765-1', 'auto');
    ga('send', 'pageview');
  </script>
  
  <style type="text/css">
    @viewport {
      zoom:1.0;
      width: extend-to-zoom;
    }

    @-ms-viewport {
      width: extend-to-zoom;
      zoom: 1.0;
    }

    #pvcy {
      padding-top: 40px;
      font-size: 30px;
      padding-bottom: 25px;
    }
    .container {
      padding-left:100px;
      padding-right: 100px;
    }
    
    .headtitle {
      margin: 0 0 10px;
      padding-bottom: 5px;
      font-size: 2.4rem;
      padding-top: 10px;
    }

    .paragraph {
      margin-left: 27px;
      font-size: 1.6rem;
      text-align: justify;
    }

    #pvcyone {
      margin: 0 0 10px;
      padding-left: 35px;
      font-size: 1.7rem;
    }

    #ulist{
      margin-top: 0;
      margin-bottom: 10px;
      padding-left: 80px;
      line-height: 2;
      font-size: 1.5rem;
      padding-bottom: 10px;
    }

    #pvcytwo {
      margin: 0 0 10px;
      padding-left: 60px;
      line-height: 1.5;
      font-size: 1.5rem;
      margin-bottom: 15px;
    }

    #pvcythree {
      margin: 0 0 10px;
      padding-left: 60px;
      font-size: 1.5rem;
    }

    .fa {
      color: red;
    }
    
  </style>

</head>

{% include "navbar.html" %}

<body>
  <div class= "container">
    <div class = col-sm-12>
      <p id = "pvcy">
        PRIVACY POLICY
      </p>

      <p class = "headtitle">
        What information do we collect?
      </p>
      <p class = "paragraph">
        We collect information from you when you register on our site, subscribe to our newsletter, respond to a survey or fill out a form. When ordering or registering on our site, as appropriate, you may be asked to enter your: name, e-mail address, mailing address, phone number, credit card information or social security number.
      </p>
      <p class = "headtitle"> 
        What do we use your information for?
      </p>
      <p id = "pvcyone">
        Any of the information we collect from you may be used in one of the following ways:
      </P>
        <ul id="ulist">
          <li class = "lst">
            To personalize your experience (your information helps us to better respond to your individual needs)
          </li>
          <li class = "lst">
            To improve our website (we continually strive to improve our website offerings based on the information and feedback we receive from you)
          </li>
          <li class = "lst">
            To improve customer service (your information helps us to more effectively respond to your customer service requests and support needs)
          </li>
          <li class = "lst">
            To administer a contest, promotion, survey or other site feature
          </li>
          <li class = "lst">
            To send periodic emails
          </li>
        </ul>
      </p>
      <p id = "pvcytwo">
        The email address you provide for order processing, may be used to send you information and updates pertaining to your order, in addition to receiving occasional company news, updates, related product or service information, etc.
      </p>
      <p id="pvcythree">
        <span style="color:blue;font-size:1.9rem;">Note:</span> If at any time you would like to unsubscribe from receiving future emails, reply unsubscribe.
      </p>
      <p class = "headtitle">
        How do we protect your information?
      </p>
      <p class = "paragraph">
        We implement a variety of security measures to maintain the safety of your personal information when you access your personal information.
        We offer the use of a secure server. All supplied sensitive/credit information is transmitted via Secure Socket Layer (SSL) technology and then encrypted into our Payment gateway providers database only to be accessible by those authorized with special access rights to such systems, and are required to keep the information confidential.
        After a transaction, your private information (credit cards, social security numbers, financials, etc.) will not be stored on our servers.
      </p><p class = "headtitle">
        Do we use cookies?
      </p>
      <p class = "paragraph">
        We do not use cookies.
      </p><p class = "headtitle">
        Do we disclose any information to outside parties?
      </p>
      <p class = "paragraph">
        We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses
      </p>
      </p><p class = "headtitle">
        Third party links
      </p>
      <p class = "paragraph">
        Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.
        This online privacy policy applies only to information collected through our website and not to information collected offline.
      </p>
      </p><p class = "headtitle">
        Terms and Conditions
      </p>
      <p class = "paragraph">
        Please also visit our Terms and Conditions section establishing the use, disclaimers, and limitations of liability governing the use of our website at www.irenovate.in
      </p>
      </p><p class = "headtitle">
        Your Consent
      </p>
      <p class = "paragraph">
        By using our site, you consent to our privacy policy.
        Changes to our Privacy Policy
        If we decide to change our privacy policy, we will post those changes on this page, send an email notifying you of any changes, and/or update the Privacy Policy modification date below.This policy was last modified on date
      </p>
      </p><p class = "headtitle">
        Contacting Us
      </p>
      <p class = "paragraph" style="margin-bottom: 50px;">
        If there are any questions regarding this privacy policy you may contact us through email.
     <br><br><i class="fa fa-envelope-o" aria-hidden="true"></i> &nbsp;
        <a href="mailto:info@irenovate.in">info@irenovate.in</a>
      </p>

    </div>
  </div>

  {% include 'Footer/copyright.html' %}
  {% include 'javascript.html' %}

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>